<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>診所管理</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/loading.css">
    <link rel="stylesheet" href="../assets/css/google.font.css">
<link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="loading-wrapper">
        <svg class="loading"><rect></rect></svg>
    </div>
    <div id='app'>
        <div class="wrapper"  >
            <!-- Sidebar -->
            <nav id="sidebar">
                <ul class="list-unstyled components">
                    <p>樂薪考勤系統</p>
                    <li class="active"><a href="./assistant.html">診所管理</a></li>
                    <li><a href="./employee.html">員工資料</a></li>
                    <li><a href="./closed_date.html">休診設定</a></li>
                    <li><a href="./position.html">崗位設定</a></li>
                    <li><a href="./shift_setting.html">班別設定</a></li>
                    <li v-show="user.right > 2"><a href="./salary_item.html">薪項名稱設定</a></li>
                    <li v-show="user.right > 2"><a href="./basic_salary.html">基本薪資設定</a></li></a></li>
                    <li><a href="./new_shift.html">新排班表</a></li>
                    <li><a href="./shift_record.html">打卡明細</a></li>
                    <li v-show="user.right > 2"><a href="./attendance_overtime.html">加班明細</a></li>
                    <li><a href="./attendance_record.html">出勤明細</a></li>
                    <li><a href="./attendance_statistic.html">出勤統計表</a></li>
                    <li v-show="user.right > 2"><a href="./salary_calculation.html">每月薪資明細表</a></li>
                </ul>
            </nav>

            <!-- Page Content -->
            <div id="content">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="navbar-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-toggle="modal" data-target="#changePassword">更改密碼</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" @click="logout()">登出</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div>
                    <button  v-show="user.right >2" class="btn btn-primary" data-toggle="modal" data-target="#addAssistant">新增助理</button>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">帳號</th>
                                <th scope="col">權限</th>
                                <th scope="col" colspan="2">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr v-for="(d, index) in data">
                                    <th scope="row">{{index + 1}}</th>
                                    <td><p>{{d.account_number}}</p></td>
                                    <td><p v-show="d.right == 4">診所老闆</p><p v-show="d.right == 3">管理員</p><p v-show="d.right == 2">助理</p></td>                         
                                    <td>
                                        <button v-if="user.right >= d.right" class="btn btn-primary" data-toggle="modal" data-target="#updateAssistant" @click="getUpdateAssistantData(d.account_number, d.right, d.user_id)">編輯</button> 
                                        <button v-if="user.right > d.right" class="btn btn-primary" @click="deleteAssistantData(d.user_id)">刪除</button> 
                                    </td>
                                </tr>
                                <tr v-show="data == null || data.length < 1">
                                    <td colspan="11" style="text-align: center;">無管理者資料</td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!-- ADD ASSISTANT Modal -->
        <div class="modal fade" id="addAssistant" tabindex="-1" role="dialog" aria-labelledby="addAssistantLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addAssistantLabel">新增助理</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="account_number">帳號</label>
                            <input v-model="form.account_number" type="text" class="form-control" id="account_number">
                        </div>
                        <div class="form-group">
                            <label for="password">密碼</label>
                            <input v-model="form.password" type="password" class="form-control" id="password">
                        </div>
                        <div class="form-group">
                            <label for="passconf">密碼確認</label>
                            <input v-model="form.passconf" type="password" class="form-control" id="passconf" >
                        </div>
                        <div class="form-group">
                            <label for="right">權限</label>
                            <select v-model="form.right" class="form-control" name="right" id="right">
                                <option value="3">管理員</option>
                                <option value="2">助理</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" @click="addAssistantData()">送出</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- UPDATE ASSISTANT Modal -->
        <div class="modal fade" id="updateAssistant" tabindex="-1" role="dialog" aria-labelledby="updateAssistantLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateAssistantLabel">編輯老闆/助理</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="account_number">帳號</label>
                            <input v-model="updateForm.account_number" type="text" class="form-control" id="update_account_number">
                        </div>
                        <div class="form-group">
                            <label for="right">權限</label>
                            <select v-model="updateForm.right" :disabled="updateForm.right == user.right" class="form-control" name="right" id="update_right">
                                <option v-show="updateForm.right == 4" value="4">老闆</option>
                                <option value="3">管理員</option>
                                <option value="2">助理</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="update_user_id">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" @click="updateAssistantData()">送出</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- CHANGEPASSWORD Modal -->
        <div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="changePasswordLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changePasswordLabel">更改密碼</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                                <label for="password">密碼</label>
                                <input type="password" class="form-control" id="update_password">
                            </div>
                            <div class="form-group">
                                <label for="passconf">密碼確認</label>
                                <input type="password" class="form-control" id="update_passconf" >
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" @click="changePassword()">送出</button>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <script src="../assets/js/loading.js"></script>
    <script src="../assets/js/jquery-3.4.1.min.js" ></script>
    <script src="../assets/js/q.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/vue.js"></script>
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });

        new Vue({
            el: "#app",
            data: {
                data: [],
                family: [],
                user: {
                    user_id: 0,
                    account_number: '',
                    right: 0,
                    clinic_id: 0
                },
                form: {
                    account_number: '',
                    password: '',
                    passconf: '',
                    right: '',
                },
                updateForm: {
                    account_number: '',
                    right: '',
                    user_id: 0
                },
            },
            created() {
                get('/api_v1.1/clinic/assistant').then(res => {
                    if(res.code == 403) {
                        location.href = './index.html'
                    } else {
                        this.data = res.data
                        get('/api_v1.1/info?token='+window.sessionStorage.getItem('token')).then(res => {
                            if(res.code == 403) {
                                window.sessionStorage.removeItem('token')
                                location.href = './index.html'
                            } else {
                                this.user = res.data
                            }
                        })
                    }
                })
            },
            methods: {
                logout() {
                    get('/api_v1.1/logout').then(res => {
                        if (res.code === 200) {
                            alert('success')
                            location.href = './index.html'
                            return
                        }
                        else {
                            alert(res.message)
                        }
                    })
                },
                addAssistantData() {
                    post('/api_v1.1/clinic/assistant/add', this.form).then(res => {
                        if (res.code === 200) {
                            alert(res.message)
                            window.location.reload('./assistant.html')
                        }
                        else {
                            alert(res.message)
                            console.log(res.message)
                        }
                    })
                },
                getUpdateAssistantData(account_number, right, user_id) {
                    this.updateForm.account_number = account_number
                    this.updateForm.right = right
                    this.updateForm.user_id = user_id
                },
                updateAssistantData() {
                    post('/api_v1.1/clinic/assistant/update/email', this.updateForm).then(res => {
                        if (res.code === 200) {
                            alert(res.message)
                            window.location.reload('./assistant.html')
                        }
                        else {
                            alert(res.message)
                            console.log(res.message)
                        }
                    })
                },
                deleteAssistantData(user_id) {
                    if(confirm('是否要刪除助理?')) {
                        const data = {
                            'user_id': user_id
                        }
                        post('/api_v1.1/clinic/assistant/delete', data).then(res => {
                            if (res.code === 200) {
                                alert(res.message)
                                window.location.reload('./assistant.html')
                            }
                            else {
                                alert(res.message)
                                console.log(res.message)
                            }
                        })
                    }
                },
                changePassword() {
                    const data = {
                        'password': $('#update_password').val(),
                        'passconf': $('#update_passconf').val()
                    }
                    post('/api_v1.1/clinic/assistant/update/password', data).then(res => {
                        if (res.code === 200) {
                            alert(res.message)
                            window.location.reload('./assistant.html')
                        }
                        else {
                            alert(res.message)
                            console.log(res.message)
                        }
                    })
                }
            }
        })
    </script>
</body>
</html>