<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>加班明細</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/loading.css">
    <link rel="stylesheet" href="../assets/css/google.font.css">
<link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="loading-wrapper">
        <svg class="loading"><rect></rect></svg>
    </div>
    <div id='app'>
        <div class="wrapper"  >
            <!-- Sidebar -->
            <nav id="sidebar">
                <ul class="list-unstyled components">
                    <p>樂薪考勤系統</p>
                    <li><a href="./assistant.html">診所管理</a></li>
                    <li><a href="./employee.html">員工資料</a></li>
                    <li><a href="./closed_date.html">休診設定</a></li>
                    <li><a href="./position.html">崗位設定</a></li>
                    <li><a href="./shift_setting.html">班別設定</a></li>
                    <li><a href="./salary_item.html">薪項名稱設定</a></li>
                    <li><a href="./basic_salary.html">基本薪資設定</a></li></a></li>
                    <li><a href="./new_shift.html">新排班表</a></li>
                    <li><a href="./shift_record.html">打卡明細</a></li>
                    <li class="active"><a href="./attendance_overtime.html">加班明細</a></li>
                    <li><a href="./attendance_record.html">出勤明細</a></li>
                    <li><a href="./attendance_statistic.html">出勤統計表</a></li>
                    <li><a href="#">每月薪資明細表</a></li>
                </ul>
            </nav>

            <!-- Page Content -->
            <div id="content">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="navbar-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#" @click="logout()">登出</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div>
                    <div class="col-12 col-lg-7">
                        <div class="input-group mb-3">
                            <input type="month" class="form-control" id="month" v-model="month">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" @click="getRecordOData" >確認</button>
                            </div>
                        </div>
                    </div>
                    
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-o-tab" data-toggle="pill" href="#pills-o" role="tab" aria-controls="pills-o" aria-selected="true">未稽核列表</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-o2-tab" data-toggle="pill" href="#pills-o2" role="tab" aria-controls="pills-o2" aria-selected="false">已稽核列表</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-o" role="tabpanel" aria-labelledby="pills-o-tab">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">日期</th>
                                        <th scope="col">姓名</th>
                                        <th scope="col">下班時間</th>
                                        <th scope="col">加班時數</th>
                                        <th scope="col">核定</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(d, index) in data_o" >
                                        <th scope="row">{{index+1}}</th>
                                        <td>{{d.datetime.slice(8,10)}}({{getDay(d.datetime)}})</td>
                                        <td>{{d.name}}</td>
                                        <td>{{d.datetime.slice(10,16)}}</td>
                                        <td>
                                            <input type="text" class="form-control" v-model="d.over_time">
                                        </td>
                                        <td>
                                            <input type="checkbox" class="form-control" v-model="d.check">
                                        </td>
                                    </tr>
                                    <tr v-show="data_o == null || data_o.length < 1">
                                        <td colspan="30" style="text-align: center;">無加班明細</td>
                                    </tr>
                                </tbody>
                                <tfoot v-show="data_o.length > 0">
                                    <tr>
                                        <td colspan="30" style="text-align: center;"><button type="button" class="btn btn-primary" @click="updateRecordOData()">核定</button></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="pills-o2" role="tabpanel" aria-labelledby="pills-o2-tab">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">日期</th>
                                        <th scope="col">姓名</th>
                                        <th scope="col">下班時間</th>
                                        <th scope="col">加班時數</th>
                                        <th scope="col">核定</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(d, index) in data_o2" >
                                        <th scope="row">{{index+1}}</th>
                                        <td>{{d.datetime.slice(8,10)}}({{getDay(d.datetime)}})</td>
                                        <td>{{d.name}}</td>
                                        <td>{{d.datetime.slice(10,16)}}</td>
                                        <td>{{d.over_time}}</td>
                                        <td>
                                            <button class="btn btn-primary" data-toggle="modal" data-target="#updateRecordO2" @click="editRecordO2(d.datetime, d.employee_id, d.over_time)">編輯</button>
                                        </td>
                                    </tr>
                                    <tr v-show="data_o2 == null || data_o2.length < 1">
                                        <td colspan="30" style="text-align: center;">無加班明細</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <!-- UPDATE RECORD O2 Modal -->
        <div class="modal fade" id="updateRecordO2" tabindex="-1" role="dialog" aria-labelledby="updateRecordO2Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateRecordO2Label">已稽核明細</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">姓名</label>
                            <input disabled type="text" class="form-control" id="name" v-model="o2.name">
                        </div>
                        <div class="form-group">
                            <label for="datetime">打卡時間</label>
                            <input disabled type="text" class="form-control" id="datetime" v-model="o2.datetime">
                        </div>
                        <div class="form-group">
                            <label for="over_time">加班時間</label>
                            <input type="text" class="form-control" id="over_time" v-model="o2.over_time">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" @click="updateRecordO2()">送出</button>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <script src="../assets/js/loading.js"></script>
    <script src="../assets/js/jquery-3.4.1.min.js" ></script>
    <script src="../assets/js/q.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/vue.js"></script>
    <script src="../assets/js/moment.js"></script>
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });

        });

        new Vue({
            el: "#app",
            data: {
                data: [],
                data_o:[],
                data_o2:[],
                month: '0000-00',
                o2: {
                    datetime: "0000-00-00 00:00:00",
                    type: "",
                    over_time: 0,
                    employee_id: 0,
                    name: ""
                }
            },
            created() {
                //判斷這本月
                this.month = new Date().Format('yyyy-MM')
                //找加班的紀錄
                this.getRecordOData()
            },
            methods: {
                logout() {
                    get('/api_v1.1/logout').then(res => {
                        if (res.code === 200) {
                            alert('success')
                            location.href = './index.html'
                            return
                        }
                        else {
                            alert(res.message)
                        }
                    })
                },
                getRecordOData() {
                    get('/api_v1.1/clinic/attendance/record_o?start='+this.month).then(res => {
                        if(res.code == 403) {
                            location.href = './index.html'
                        } else {
                            this.data = res.data ? res.data : [] 
                            let o = this.data.filter(
                                d => d.type === "off_1st_o" || 
                                        d.type === "off_2nd_o" ||
                                        d.type === "off_3rd_o")
                            o.forEach(item => {
                                item.check = true
                            })
                            const o2 = this.data.filter(
                                d => d.type === "off_1st_o2" || 
                                        d.type === "off_2nd_o2" ||
                                        d.type === "off_3rd_o2")
                            this.data_o = o
                            this.data_o2 = o2
                        }
                    })
                },
                updateRecordOData() {
                    let form = []
                    this.data_o.forEach(item => {
                        if(item.check === true) {
                            form.push(item)
                        }
                    })
                    post(`/api_v1.1/clinic/attendance/record_o/update`, form).then(res => {
                        if(res.code == 403) {
                            location.href = './index.html'
                        } else if(res.code == 200) {
                            alert('稽核成功!')
                            this.getRecordOData()
                            this.$nextTick()
                        }
                    })
                },
                editRecordO2(datetime, employee_id, over_time) {
                    this.o2 = this.data_o2.find(
                        d => d.datetime === datetime &&
                                d.employee_id === employee_id &&
                                d.over_time == over_time)
                },
                updateRecordO2() {
                    // console.log(this.o2);
                    post(`/api_v1.1/clinic/attendance/record_o2/update`, this.o2).then(res => {
                        if(res.code == 403) {
                            location.href = './index.html'
                        } else if(res.code == 200) {
                            alert('稽核更新成功!')
                            
                            this.getRecordOData()
                            $('#updateRecordO2').modal('hide')
                            this.$nextTick()
                        }
                    })
                },
                getDay(date) {
                    const day_list = ['日', '一', '二', '三', '四', '五', '六']
                    const D = new Date(date)
                    return day_list[D.getDay()]
                }
            }
        })
    </script>
</body>
</html>