<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>出勤統計表</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/loading.css">
    <link rel="stylesheet" href="../assets/css/google.font.css">
<link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="loading-wrapper">
        <svg class="loading"><rect></rect></svg>
    </div>
    <div id='app'>
        <div class="wrapper"  >
            <!-- Sidebar -->
            <nav id="sidebar">
                <ul class="list-unstyled components">
                    <p>樂薪考勤系統</p>
                    <li><a href="./assistant.html">診所管理</a></li>
                    <li><a href="./employee.html">員工資料</a></li>
                    <li><a href="./closed_date.html">休診設定</a></li>
                    <li><a href="./position.html">崗位設定</a></li>
                    <li><a href="./shift_setting.html">班別設定</a></li>
                    <li v-show="user.right > 2"><a href="./salary_item.html">薪項名稱設定</a></li>
                    <li v-show="user.right > 2"><a href="./basic_salary.html">基本薪資設定</a></li></a></li>
                    <li><a href="./new_shift.html">新排班表</a></li>
                    <li><a href="./shift_record.html">打卡明細</a></li>
                    <li ><a href="./attendance_overtime.html">加班明細</a></li>
                    <li><a href="./attendance_record.html">出勤明細</a></li>
                    <li  class="active"><a href="./attendance_statistic.html">出勤統計表</a></li>
                    <li v-show="user.right > 2"><a href="./salary_calculation.html">每月薪資明細表</a></li>
                </ul>
            </nav>

            <!-- Page Content -->
            <div id="content">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="navbar-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#" @click="logout()">登出</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div>
                    <div class="col-12 col-lg-7">
                        <div class="input-group mb-3">
                            <input type="month" class="form-control" id="month" v-model="month">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" @click="getAttendanceStatisticData()" >確認</button>
                            </div>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#updateAttendance">資料統計</button>
                        </div>
                    </div>
                    <p>本月天數：{{detail.total_days}} 天　例假與國定假日天數：{{detail.closed_days}} 天　應工作總工時：{{detail.work_hours}} 小時</p>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">姓名</th>
                                <th scope="col">在職天數</th>
                                <th scope="col">總工時</th>
                                <th scope="col">工作診數</th>
                                <th scope="col">加診診數</th>
                                <th scope="col">請假時數(扣全薪)</th>
                                <th scope="col">請假時數(扣半薪)</th>
                                <th scope="col">請假時數(不扣薪)</th>
                                <th scope="col">加班時數</th>
                                <th scope="col">遲到時數</th>
                                <th scope="col">早退時數</th>
                                <th scope="col">忘刷卡次數</th>
                                <th scope="col">餐點補助次數</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(d, index) in data" >
                                <th scope="row">{{index+1}}</th>
                                <td><button data-toggle="modal" data-target="#editEmployee" class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#showThisEmployee"  @click="showThisEmployeeData(d.salary_calculation_id)">{{d.name}}</button></td>
                                <td>{{d.statistic_data.work_days}}</td>
                                <td>{{d.statistic_data.total_time}}</td>
                                <td>{{d.statistic_data.period}}</td>
                                <td>{{d.statistic_data.bonus_period}}</td>
                                <td>{{d.statistic_data.leave_all}}</td>
                                <td>{{d.statistic_data.leave_half}}</td>
                                <td>{{d.statistic_data.leave_none}}</td>
                                <td>{{d.statistic_data.over_time}}</td>
                                <td>{{d.statistic_data.late}}</td>
                                <td>{{d.statistic_data.early}}</td>
                                <td>{{d.statistic_data.no_record_times}}</td>
                                <td>{{d.statistic_data.meal_times}}</td>
                            </tr>
                            <tr v-show="data == null || data.length < 1">
                                <td colspan="30" style="text-align: center;">無出勤統計</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <!-- UPDATE ATTENDANCE Modal -->
        <div class="modal fade" id="updateAttendance" tabindex="-1" role="dialog" aria-labelledby="updateAttendanceLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateAttendanceLabel">資料統計</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="month">統整月份</label>
                            <input type="month" class="form-control" id="month" v-model="month">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" @click="updateAttendanceStatisticData()">送出</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- EDIT ATTENDANCE Modal -->
        <div class="modal fade" id="editEmployee" tabindex="-1" role="dialog" aria-labelledby="editEmployeeLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editEmployeeLabel">員工出勤統計</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>薪資月份：{{this.month}}　本月天數：{{detail.total_days}} 天　例假與國定假日天數：{{detail.closed_days}} 天</p>
                        <p>應工作總工時：{{detail.work_hours}} 小時<!--　 應工作診數：{{detail.work_days * 2}} 診 -->　 在職天數：{{updateForm.statistic_data.work_days}} 天</p>
                        <table class="table" id="editTable">
                            <tbody>
                                <tr>
                                    <th scope="row">姓名</th>
                                    <td colspan="4">
                                        {{this.updateForm.name}}
                                    </td>
                                </tr>
                                <tr>    
                                    <th scope="row">總工時</th>
                                    <td>
                                        <div class="input-group">
                                            <input class="form-control" type="text" v-model="updateForm.statistic_data.total_time"> 
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">小時</div>
                                            </div>
                                          </div>
                                    </td>
                                    <th scope="row">總診數</th>
                                    <td>
                                        <div class="input-group">
                                            <input class="form-control" type="text" v-model="updateForm.statistic_data.period">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">診</div>
                                            </div>
                                          </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">加診診數</th>
                                    <td>
                                        <div class="input-group">
                                            <input class="form-control" type="text"v-model="updateForm.statistic_data.bonus_period">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">診</div>
                                            </div>
                                        </div>
                                    </td>
                                    <th scope="row">請假(扣全薪)</th>
                                    <td>
                                        <div class="input-group">
                                            <input class="form-control" type="text" v-model="updateForm.statistic_data.leave_all">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">小時</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">請假(扣半薪)</th>
                                    <td>
                                        <div class="input-group">
                                            <input class="form-control" type="text" v-model="updateForm.statistic_data.leave_half"> 
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">小時</div>
                                            </div>
                                        </div>
                                    </td>
                                    <th scope="row">請假(不扣薪)</th>
                                    <td>
                                        <div class="input-group">
                                            <input class="form-control" type="text" v-model="updateForm.statistic_data.leave_none"> 
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">小時</div>
                                            </div>
                                        </div>
                                    </td>                                
                                </tr>
                                <tr>
                                    <th scope="row">超時</th>
                                    <td>
                                        <div class="input-group">
                                            <input class="form-control" type="text" v-model="updateForm.statistic_data.over_time"> 
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">分鐘</div>
                                            </div>
                                        </div>
                                    </td>
                                    <th scope="row">忘刷卡</th>
                                    <td>
                                        <div class="input-group">
                                            <input class="form-control" type="text" v-model="updateForm.statistic_data.no_record_times"> 
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">次</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">遲到</th>
                                    <td>
                                        <div class="input-group">
                                            <input class="form-control" type="text" v-model="updateForm.statistic_data.late"> 
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">分鐘</div>
                                            </div>
                                        </div>
                                    </td>
                                    <th scope="row">早退</th>
                                    <td>
                                        <div class="input-group">
                                            <input class="form-control" type="text" v-model="updateForm.statistic_data.early"> 
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">分鐘</div>
                                            </div>
                                        </div>
                                    </td>                                
                                </tr> 
                                <tr>
                                    <!-- <th scope="row">曠職</th><td><input class="form-control" type="text" id="absence" name="absence" value= 0 > 小時</td> -->
                                    
                                    <th scope="row">補助餐次數</th>
                                    <td  colspan="4">
                                        <div class="input-group">
                                            <input class="form-control" type="text" v-model="updateForm.statistic_data.meal_times"> 
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">次</div>
                                            </div>
                                        </div>
                                    </td>                                
                                </tr> 
                                <tr>
                                    <th colspan="4" style="text-align: right;">
                                        <button type="button" class="btn btn-primary" @click="updateThisEmployeeData()">更新</button>
                                    </th>
                                </tr>
                                  
                            </tbody>
                        </table>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>打卡日</th>
                                    <th>排班</th>
                                    <th>早班</th>
                                    <th>午班</th>
                                    <th>晚班</th>
                                    <th>忘刷卡</th>
                                    <th>遲到</th>
                                    <th>早退</th>    
                                    <th>超時</th> 
                                </tr>
                                <tr v-for="(r, index) in updateForm.record_data">
                                    <td>{{r.date.slice(-5)}}</td>
                                    <td>{{r.shift_name}}</td>
                                    <td>{{r.data[0].slice(-8,-3)}} , {{r.data[1].slice(-8,-3)}}</td>
                                    <td>{{r.data[2].slice(-8,-3)}} , {{r.data[3].slice(-8,-3)}}</td>
                                    <td>{{r.data[4].slice(-8,-3)}} , {{r.data[5].slice(-8,-3)}}</td>
                                    <td>{{r.no_record_times}}</td> 
                                    <td>{{computeLate(r.on_1st_l, r.on_2nd_l, r.on_3rd_l)}}</td>
                                    <td>{{computeLate(r.off_1st_l, r.off_2nd_l, r.off_3rd_l)}}</td>
                                    <td>{{r.over_time}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



    </div>



    <script src="../assets/js/loading.js"></script>
    <script src="../assets/js/jquery-3.4.1.min.js" ></script>
    <script src="../assets/js/q.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/vue.js"></script>
    <script src="../assets/js/moment.js"></script>
    <!-- <script src="../assets/js//jspdf.debug.js"></script>
    <script src='../assets/js/jspdf.plugin.autotable.js'></script>
    <script  src="../assets/js/NotoSans-normal.js"></script> -->
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });

        });

        new Vue({
            el: "#app",
            data: {
                data: [],
                month: '0000-00',
                updateForm: {
                    salary_calculation_id: 0,
                    name: "",
                    record_data: [],
                    statistic_data: {
                        bonus_period: 0,
                        early: 0,
                        late: 0,
                        leave_all: 0,
                        leave_half: 0,
                        leave_none: 0,
                        meal_times: 0,
                        no_record_times: 0,
                        over_time: 0,
                        period: 0,
                        total_time: 0,
                        work_days: 0
                    }
                },
                detail: {
                    total_days: 0,
                    total_hours: 0,
                    work_days: 0,
                    work_hours: 0,
                    closed_days: 0,
                    closed_hours: 0
                },
                user: {
                    user_id: 0,
                    account_number: '',
                    right: 0,
                    clinic_id: 0
                },
            },
            created() {
                get('/api_v1.1/info?token='+window.sessionStorage.getItem('token')).then(res => {
                    if(res.code == 403) {
                        window.sessionStorage.removeItem('token')
                        location.href = './index.html'
                    } else {
                        this.user = res.data
                    }
                })
                //判斷這本月
                this.month = new Date().Format('yyyy-MM')
                //自動賦值，月初和月底
                this.getAttendanceStatisticData()
                
            },
            methods: {
                logout() {
                    get('/api_v1.1/logout').then(res => {
                        if (res.code === 200) {
                            alert('success')
                            location.href = './index.html'
                            return
                        }
                        else {
                            alert(res.message)
                        }
                    })
                },
                getClosedDate() {
                    get('/api_v1.1/clinic/closed_date?date='+this.month).then(res => {
                        if(res.code == 403) {
                            location.href = './index.html'
                        } else {
                            this.detail = res.data[1]
                        }
                    })
                },
                getAttendanceStatisticData() {
                    get(`/api_v1.1/clinic/attendance/statistic?start=${this.month}`).then(res => {
                        if(res.code == 403) {
                            location.href = './index.html'
                        } else {
                            this.data = res.data
                            this.getClosedDate()
                        }
                    })
                },
                updateAttendanceStatisticData() {
                    post(`/api_v1.1/clinic/attendance/statistic/update?start=${this.month}`).then(res => {
                        if(res.code == 403) {
                            location.href = './index.html'
                        } else if(res.code == 200) {
                            alert('更新成功!')
                            window.location.reload('./attendance_statistic.html')
                        }
                    })
                },
                showThisEmployeeData(salary_calculation_id) {
                    const data = this.data.find(d => d.salary_calculation_id == salary_calculation_id)
                    this.updateForm.salary_calculation_id = data.salary_calculation_id
                    this.updateForm.name = data.name
                    this.updateForm.record_data = data.record_data
                    this.updateForm.statistic_data = data.statistic_data
                },
                updateThisEmployeeData() {
                    let form = {}
                    form.salary_calculation_id = this.updateForm.salary_calculation_id
                    form.statistic_data = this.updateForm.statistic_data
                    post(`/api_v1.1/clinic/attendance/statistic/update/id`, form).then(res => {
                        if(res.code == 403) {
                            location.href = './index.html'
                        } else if(res.code == 200) {
                            alert('更新成功!')
                            $('#editEmployee').modal('hide')
                            this.$nextTick()
                        }
                    })
                },
                computeLate(on_1st_l, on_2nd_l, on_3rd_l) {
                    return (on_1st_l ? on_1st_l : 0) + (on_2nd_l ? on_2nd_l : 0)  + (on_3rd_l ? on_3rd_l : 0)
                }
            }
        })
    </script>
</body>
</html>