<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>基本薪資管理</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/loading.css">
    <link rel="stylesheet" href="../assets/css/google.font.css">
<link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="loading-wrapper">
        <svg class="loading"><rect></rect></svg>
    </div>
    <div id='app'>
        <div class="wrapper"  >
            <!-- Sidebar -->
            <nav id="sidebar">
                <ul class="list-unstyled components">
                    <p>樂薪考勤系統 - <span v-text="user.clinic_name"></span></p>
                    <li><a href="./assistant.html">診所管理</a></li>
                    <li><a href="./announce.html">公告管理</a></li>
                    <li><a href="./employee.html">員工資料</a></li>
                    <li><a href="./closed_date.html">休診設定</a></li>
                    <li><a href="./position.html">崗位設定</a></li>
                    <li><a href="./shift_setting.html">班別設定</a></li>
                    <li v-show="user.right > 2"><a href="./salary_item.html">薪項名稱設定</a></li>
                    <li class="active"><a href="./basic_salary.html">基本薪資</a></li>
                    <li><a href="./new_shift.html">新排班表</a></li>
                    <li><a href="./shift_record.html">打卡明細</a></li>
                    <li ><a href="./attendance_overtime.html">加班明細</a></li>
                    <li><a href="./attendance_record.html">出勤明細</a></li>
                    <li><a href="./attendance_statistic.html">出勤統計表</a></li>
                    <li v-show="user.right > 2"><a href="./salary_calculation.html">每月薪資明細表</a></li>
                </ul>
            </nav>

            <!-- Page Content -->
            <div id="content">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="navbar-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-toggle="modal" data-target="#changePassword">更改密碼</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" @click="logout()">登出</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div>
                    <table id="table1" class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">工號</th>
                                <th scope="col">姓名</th>
                                <th scope="col">到職日</th>
                                <th scope="col">離職日</th>
                                <th scope="col">底薪</th>
                                <th scope="col">餐費津貼</th>
                                <th scope="col" v-for="(d, index) in salary_item">{{d.salary_name}}</th>
                                <th scope="col">投保薪資</th>
                                <th scope="col">勞保減免</th>
                                <th scope="col">勞保費</th>
                                <th scope="col">健保減免</th>
                                <th scope="col">健保費</th>
                                <th scope="col">眷口數</th>
                                <th scope="col" colspan="1">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr v-for="(d, index) in data">
                                    <th scope="row">{{index + 1}}</th>
                                    <td><p>{{d.job_number}}</p></td>
                                    <td><p>{{d.name}}</p></td>
                                    <td><p>{{d.work_at}}</p></td>
                                    <td><p>{{(d.leave_at === "9999-12-31") ? "" : d.leave_at}}</p></td>
                                    <td><p>{{(parseInt(d.salary_setting.pt_wage) === 1) ? 0 : d.basic_salary}}</p></td>  
                                    <td><p>{{d.meal_fee}}</p></td>  
                                    <td v-for="(d1, index) in salary_item"><p>{{getSalaryFixedItemValue(d.employee_id, d1.salary_item_id)}}</p></td>         
                                    <td><p>{{d.insurance_salary}}</p></td>
                                    <td><p>{{d.labor_relief}}</p></td>
                                    <td><p>{{d.labor_insurance}}</p></td>
                                    <td><p>{{d.health_relief}}</p></td>
                                    <td><p>{{d.health_insurance_with_family}}</p></td>
                                    <td><p>{{d.family_number}}</p></td>
                                    <td>
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#editBasicSalary" @click="editBasicSalaryData(d.employee_id)">編輯</button> 
                                    </td>
                                </tr>
                                <tr v-if="data == null || data.length < 1">
                                    <td colspan="13" style="text-align: center;">無資料</td>
                                </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination table1" >
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>


        <!-- EDIT Basic Salary Modal -->
        <div class="modal fade" id="editBasicSalary" tabindex="-1" role="dialog" aria-labelledby="editBasicSalaryLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editBasicSalaryLabel">編輯基本薪資</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table  class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">姓名</th>
                                    <td colspan="7">{{updateForm.name}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">到職日</th>
                                    <td colspan="3">{{updateForm.work_at}}</td>
                                    <th scope="row">離職日</th>
                                    <td colspan="3">{{(updateForm.leave_at == '9999-12-31') ? "" : this.updateForm.leave_at}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">底薪</th>
                                    <td colspan="3"><input @change="get_fixed_salary()" :disabled="pt_wage" class="form-control" type="number" min="0" v-model="updateForm.basic_salary"></td>
                                    <th scope="row">固定薪</th>
                                    <td colspan="3">{{fixed_salary}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">餐費津貼</th>
                                    <td colspan=7><input class="form-control" type="number" min="0" v-model="updateForm.meal_fee"></td>
                                </tr>
                                <tr v-for="(d, index) in salary_item">
                                        <th scope="row" v-if="(index * 2)  < (salary_item.length)">{{salary_item[index * 2].salary_name}}</th>
                                        <td colspan="3" v-if="(index * 2) < (salary_item.length)"><input @change="get_fixed_salary()" class="form-control" type="number" min="0" v-model="updateForm.salary_fixed_item[index * 2].value"></td>
                                        <th scope="row" v-if="(index * 2 + 1) < (salary_item.length)">{{salary_item[index * 2 + 1].salary_name}}</th>
                                        <td colspan="3" v-if="(index * 2 + 1) < (salary_item.length)"><input @change="get_fixed_salary()" class="form-control" type="number" min="0" v-model="updateForm.salary_fixed_item[index * 2 + 1].value"></td>
                                </tr>
                                <tr>
                                    <th scope="row">每診加診費</th>
                                    <td colspan="7"><input class="form-control" type="number" min="0" v-model="updateForm.bonus_per_period"></td>
                                </tr>
                                <tr>
                                    <th scope="row">投保金額</th>
                                    <td colspan="7">
                                        <select class="form-control" v-model="updateForm.insurance_salary">
                                            <option value="0">請選擇投保級距</option>
                                            <option v-for="(d, index) in insurance.rank" :value="d">{{d}}</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">表定勞保費</th>
                                    <td>{{updateForm.labor_insurance}}</td>
                                    <th scope="row">勞保減免</th>
                                    <td>
                                        <select class="form-control" v-model="updateForm.labor_relief">
                                            <option value="0.00">0</option>
                                            <option value="0.25">0.25</option>
                                            <option value="0.5">0.5</option>
                                            <option value="0.75">0.75</option>
                                            <option value="1.00">1</option>
                                        </select>
                                    </td>
                                    <th scope="row">勞保費</th>
                                    <td>{{ larbor }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">表定健保費</th>
                                    <td>{{updateForm.health_insurance}}</td>
                                    <th scope="row">健保減免</th>
                                    <td>
                                        <select class="form-control" v-model="updateForm.health_relief">
                                            <option value="0.00">0</option>
                                            <option value="0.25">0.25</option>
                                            <option value="0.5">0.5</option>
                                            <option value="0.75">0.75</option>
                                            <option value="1.00">1</option>
                                        </select>
                                    </td>
                                    <th scope="row">健保費</th>
                                    <td>{{updateForm.health_insurance_with_family}}</td>
                                    <th scope="row">眷口數</th>
                                    <td>{{updateForm.family_number}}</td>
                                </tr>
                                <tr v-for="(f, key) in family">
                                    <th scope="row">眷屬名稱</th>
                                    <td>{{f.name}}</td>
                                    <th scope="row">健保減免</th>
                                    <td>{{f.health_relief}}</td>
                                    <th scope="row">眷屬關係</th>
                                    <td colspan="3">{{f.relationship}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" @click="updateBasicSalaryData()">送出</button>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <script src="../assets/js/loading.js"></script>
    <script src="../assets/js/jquery-3.4.1.min.js" ></script>
    <script src="../assets/js/q.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/vue.js"></script>
    <script src="../assets/js/pagination.js"></script>
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });

        new Vue({
            el: "#app",
            data: {
                data: [],
                family: [],
                salary_item:[],
                slaray_fixed_item:[],
                fixed_salary:0,
                updateForm: {
                    employee_id: 0,
                    name: null,
                    basic_salary: 0,
                    bonus_per_period: 0,
                    insurance_salary: 0,
                    labor_relief: 0,
                    labor_insurance: 0,
                    health_salary: 0,
                    health_relief: 0,
                    health_insurance: 0,
                    health_insurance_with_family: 0,
                    family_number: 0,
                    salary_setting: {
                        pt_wage: 1
                    },
                    salary_fixed_item:[
                        {
                            value: 0,
                            salary_item_id:0,
                            employee_id: 0
                        },
                        
                    ]
                },
                insurance: {
                    //TODO 2021年要更改
                    // 2020勞健保費率和公式 rank: [11100,12540,13500,15840,16500,17280,17880,19047,20008,21009,22000,23100,23800,24000,25200,26400,27600,28800,30300,31800,33300,34800,36300,38200,40100,42000,43900,45800,48200,50600,53000,55400,57800,60800,63800,66800,69800,72800,76500,80200,83900,87600,92100,96600,101100,105600,110100,115500,120900,126300,131700,137100,142500,147900,150000,156400,162800,169200,175600,182000],
                    //2021
                    rank: [11100,12540,13500,15840,16500,17280,17880,19047,20008,21009,22000,23100,24000,25200,26400,27600,28800,30300,31800,33300,34800,36300,38200,40100,42000,43900,45800,48200,50600,53000,55400,57800,60800,63800,66800,69800,72800,76500,80200,83900,87600,92100,96600,101100,105600,110100,115500,120900,126300,131700,137100,142500,147900,150000,156400,162800,169200,175600,182000],
                    labor_lowest: 11100,
                    health_lowest: 24000,
                    //勞保普通事故
                    //2020 larbor_normal_rate: 0.1,
                    //2021
                    larbor_normal_rate: 0.105,
                    //就保
                    larbor_rate: 0.01,
                    //勞保職災事故
                    larbor_damage_rate: 0.001,
                    //健保，補助保費者，會優先列入眷口計費，總共最多四位
                    //健保費率
                    //2020 health_rate: 0.0469,
                    //2021
                    health_rate: 0.0517,
                    //人均眷口數
                    average_family: 1.58
                },
                user: {
                    user_id: 0,
                    account_number: '',
                    right: 0,
                    clinic_id: 0,
                    clinic_name:''
                },
            },
            created() {
                get('/api_v1.1/info?token='+window.localStorage.getItem('token')).then(res => {
                    if(res.code == 403) {
                        window.localStorage.removeItem('token')
                        location.href = './index.html'
                    } else {
                        this.user = res.data
                        this.getBasicSalaryData()
                    }
                })
                
            },
            updated() {
                getPagination('#table1',10);
            },
            methods: {
                logout() {
                    get('/api_v1.1/logout').then(res => {
                        if (res.code === 200) {
                            window.localStorage.removeItem('token')
                            alert('success')
                            location.href = './index.html'
                            return
                        }
                        else {
                            alert(res.message)
                        }
                    })
                },
                getBasicSalaryData() {
                    get('/api_v1.1/clinic/salary/basic_salary').then(res => {
                        if(res.code == 403) {
                            location.href = './index.html'
                        } else {
                            this.data = res.data[0].filter(item => res.data[3].find(item2 => item2.employee_id === item.employee_id))
                            this.salary_item = res.data[1]
                            this.salary_fixed_item = res.data[2]
                            this.updateForm.salary_fixed_item = []
                            this.salary_item.forEach(item => {
                                this.updateForm.salary_fixed_item.push({
                                    salary_item_id: 0,
                                    value: 0,
                                    employee_id: 0,
                                    addORminus: 1
                                })
                            })
                        }
                    })
                },
                editBasicSalaryData(employee_id) {
                    this.family = []
                    //獲取該員工眷屬
                    get('/api_v1.1/clinic/employee/family?employee_id='+employee_id).then(res => {
                        if (res.code === 200) {
                            this.family = res.data
                        }
                        //獲取該員工基本薪資
                        this.updateForm = this.data.find(d => d.employee_id == employee_id)
                        this.editSalaryFixedItemValue(employee_id)
                        if(parseInt(this.updateForm.salary_setting.pt_wage) === 1) {
                            this.updateForm.basic_salary = 0
                        }
                    })
                },
                updateBasicSalaryData() {
                    post('/api_v1.1/clinic/salary/basic_salary/update', this.updateForm).then(res => {
                        if (res.code === 200) {
                            alert('更新基本薪資成功')
                            this.getBasicSalaryData()
                            $('#editBasicSalary').modal('hide')
                            this.$nextTick();
                        } else {
                            alert(res.message)
                        }
                    })
                },
                labor_cal() {
                    this.updateForm.labor_insurance = 
                        this.laborRound(this.updateForm.insurance_salary * 30 / 30 * (this.insurance.larbor_normal_rate + this.insurance.larbor_rate) * 0.2);
                },
                health_cal() {
                    if(this.updateForm.insurance_salary > this.insurance.health_lowest || this.updateForm.insurance_salary == 0) {
                        this.updateForm.health_insurance = parseInt((this.updateForm.insurance_salary * this.insurance.health_rate * 0.3).toFixed(0))
                        let rate = parseFloat(1 - this.updateForm.health_relief)
                        let i = 0;
                        for (let item of this.family) {
                            if(i == 3) {break}
                            rate += parseFloat(1 - item.health_relief)
                            i++
                        }
                        this.updateForm.health_insurance_with_family = parseInt((this.updateForm.health_insurance * rate).toFixed(0))
                    } else {
                        this.updateForm.health_insurance = parseInt((this.insurance.health_lowest * this.insurance.health_rate * 0.3).toFixed(0))
                        let rate = parseFloat(1 - this.updateForm.health_relief)
                        let i = 0;
                        for (let item of this.family) {
                            if(i == 3) {break}
                            rate += parseFloat(1 - item.health_relief)
                            i++
                        }
                        this.updateForm.health_insurance_with_family = parseInt((this.updateForm.health_insurance * rate).toFixed(0))
                    }
                },
                // 薪項固定薪處理
                getSalaryFixedItemValue(employee_id, salary_item_id) {
                    const data = this.salary_fixed_item.find(d => d.salary_item_id == salary_item_id && d.employee_id == employee_id)
                    if(data === undefined) {
                        return 0
                    } else {
                        return data.value
                    }
                },
                editSalaryFixedItemValue(employee_id) {
                    this.updateForm.salary_fixed_item = []
                    this.salary_item.forEach(item => {
                        let value = 0
                        const data = this.salary_fixed_item.find(d => d.salary_item_id == item.salary_item_id && d.employee_id == employee_id)
                        if(data !== undefined) {
                            value = data.value
                        }
                        this.updateForm.salary_fixed_item.push({
                            salary_item_id: item.salary_item_id,
                            value: value,
                            employee_id: employee_id,
                            addORminus: item.addORminus
                        })
                    })
                },
                get_fixed_salary() {
                    let sum = parseInt(this.updateForm.basic_salary)
                    this.updateForm.salary_fixed_item.forEach(item => {
                        let op = 1;
                        if(parseInt(item.addORminus) === 0) {
                            op = -1
                        }
                        sum += parseInt(item.value) * op
                    })
                    this.fixed_salary = sum
                },
                //勞保特殊進位
                laborRound(number) {
                    //進位尾數 4,7,8,9
                    const lastNum = [4, 7, 8, 9];
                    let strNumber = number.toString();
                    var a = strNumber.indexOf(".");
                    if(a !== -1) {
                        if(lastNum.find(d => d === parseInt(strNumber.slice(a+1,a+2))) === undefined) {
                            //捨去
                            return Math.floor(number);
                        } else {
                            //進位
                            return Math.ceil(number);
                        }
                    } else {
                        //整數
                        return parseInt(number);
                    }
                }
            },
            watch: {
                "updateForm.insurance_salary": {
                    // immediate: true,
                    handler: function() {
                        //勞保
                        this.labor_cal()
                        //健保
                        this.health_cal()
                    }
                },
                "updateForm.labor_relief": {
                    // immediate: true,
                    handler: function() {
                        this.labor_cal()
                    }
                },
                "updateForm.health_relief": {
                    // immediate: true,
                    handler: function() {
                        this.health_cal()
                    }
                },
                "updateForm.salary_fixed_item": {
                    immediate: true,
                    handler: function() {
                        this.get_fixed_salary()
                    }
                },
                
            },
            computed: {
                pt_wage() {
                    if(parseInt(this.updateForm.salary_setting.pt_wage) === 2) {
                        return false
                    } else {
                        return true
                    }
                },
                //勞保30天
                larbor() {
                    //個人
                    return this.laborRound(this.updateForm.insurance_salary * 30 / 30 * (this.insurance.larbor_normal_rate + this.insurance.larbor_rate) * 0.2 * (1 - this.updateForm.labor_relief));
                    // //公司
                    // this.insurance_salary * 30 / 30 * ((larbor_normal_rate + larbor_rate) * 0.7 + larbor_damage_rate)
                },
                //健保保30天
                health() {
                    if(this.updateForm.insurance_salary > this.insurance.health_lowest || this.updateForm.insurance_salary == 0) {
                        return parseInt((this.updateForm.insurance_salary * this.insurance.health_rate * 0.3).toFixed(0))
                    } else {
                        return parseInt((this.insurance.health_lowest * this.insurance.health_rate * 0.3).toFixed(0))
                    }
                }
            }
        })
    </script>
</body>
</html>
