<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>休診管理</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/loading.css">
    <link rel="stylesheet" href="../assets/css/google.font.css">
<link rel="stylesheet" href="../assets/css/style.css">
</head>
<style>
    .active {
        color: red;
    }
</style>
<body>
    <div class="loading-wrapper">
        <svg class="loading"><rect></rect></svg>
    </div>
    <div id='app'>
        <div class="wrapper"  >
            <!-- Sidebar -->
            <nav id="sidebar">
                <ul class="list-unstyled components">
                    <p>樂薪考勤系統 - <span v-text="user.clinic_name"></span></p>
                    <li><a href="./assistant.html">診所管理</a></li>
                    <li><a href="./employee.html">員工資料</a></li>
                    <li class="active"><a href="./closed_date.html">休診設定</a></li>
                    <li><a href="./position.html">崗位設定</a></li>
                    <li><a href="./shift_setting.html">班別設定</a></li>
                    <li v-show="user.right > 2"><a href="./salary_item.html">薪項名稱設定</a></li>
                    <li v-show="user.right > 2"><a href="./basic_salary.html">基本薪資設定</a></li></a></li>
                    <li><a href="./new_shift.html">新排班表</a></li>
                    <li><a href="./shift_record.html">打卡明細</a></li>
                    <li ><a href="./attendance_overtime.html">加班明細</a></li>
                    <li><a href="./attendance_record.html">出勤明細</a></li>
                    <li><a href="./attendance_statistic.html">出勤統計表</a></li>
                    <li v-show="user.right > 2"><a href="./salary_calculation.html">每月薪資明細表</a></li>
                </ul>
            </nav>

            <!-- Page Content -->
            <div id="content">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="navbar-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#" @click="logout()">登出</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div>
                    <p>本月總天數: <span>{{detail.total_days}}</span>天，時數: <span>{{detail.total_hours}}</span>小時，應工作天數: <span>{{detail.work_days}}</span>天，應工作時數: <span>{{detail.work_hours}}</span>小時</p>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="input-group mb-3">
                                <input type="month" min="2013-01" class="form-control" id="closed_date" v-model="month">
                                <!-- <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" @click="getClosedDate()" >確認</button>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <p v-text="status">{{calculateDays}}</p>
                    <!-- 日曆 -->
                    <form name="udpateForm" id="udpateForm">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>星期日</th>
                                    <th>星期一</th>
                                    <th>星期二</th>
                                    <th>星期三</th>
                                    <th>星期四</th>
                                    <th>星期五</th>
                                    <th>星期六</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                    <tr v-for="(w, index) in weeks">
                                        <td v-for="(d, index) in w">
                                            <div v-if="checkMonth(d)" :class="{active: check(d)}">
                                                {{getDay(d)}}  {{findName(d)}}
                                                <br>
                                                <input type="checkbox" :checked="check(d)" :name="'day'+getDay(d)" :value="getDay(d)">休診
                                            </div>
                                        </td>
                                    </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="7" style="text-align: center;">
                                        <button type="button" class="btn btn-primary" @click="updateClosedDateData()">更新</button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
            </div>
        </div>

    </div>



    <script src="../assets/js/loading.js"></script>
    <script src="../assets/js/jquery-3.4.1.min.js" ></script>
    <script src="../assets/js/q.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/vue.js"></script>
    <script src="../assets/js/week.js"></script>
    <script src="../assets/js/moment.js"></script>
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
        

        new Vue({
            el: "#app",
            data: {
                data: [],
                detail: {
                    total_days: 0,
                    total_hours: 0,
                    work_days: 0,
                    work_hours: 0,
                    closed_days: 0,
                    closed_hours: 0
                },
                status: null,
                month: "0000-00",
                w: {},
                weeks: [],
                updateForm: {
                },
                user: {
                    user_id: 0,
                    account_number: '',
                    right: 0,
                    clinic_id: 0,
                    clinic_name:''
                },
            },
            created() {
                get('/api_v1.1/info?token='+window.localStorage.getItem('token')).then(res => {
                    if(res.code == 403) {
                        window.localStorage.removeItem('token')
                        location.href = './index.html'
                    } else {
                        this.user = res.data
                        this.month = new Date().Format('yyyy-MM')
                    }
                })
                
            },
            methods: {
                logout() {
                    get('/api_v1.1/logout').then(res => {
                        if (res.code === 200) {
                            window.localStorage.removeItem('token')
                            alert('success')
                            location.href = './index.html'
                            return
                        }
                        else {
                            alert(res.message)
                        }
                    })
                },
                getAllWeeks() {
                    this.weeks = []
                    const w = new Week(new Date(this.month).setDate(1))
                    let current = w.getCurrentWeek();
                    for(let item of current) {
                        item.Date = new Date(item.Date).Format("yyyy-MM-dd")
                    }
                    this.weeks.push(current)
                    while(true) {
                        current = w.nextWeek();
                        if(new Date(current[0].Date).Format("yyyy-MM") == this.month) {
                                for(let item of current) {
                                    item.Date = new Date(item.Date).Format("yyyy-MM-dd")
                                }
                                this.weeks.push(current)
                        } else {
                            break;
                        }
                    }
                },
                checkMonth(d) {
                    if(d.Date.slice(0,7) !== this.month) {
                        return false
                    }else {
                        return true
                    }
                },
                updateClosedDateData() {
                    const form = $('form').serializeArray()
                    const data = this.serializeToJson(form)

                    post('/api_v1.1/clinic/closed_date/update', JSON.parse(data)).then(res => {
                        if (res.code === 200) {
                            alert(res.message)
                            window.location.reload('./assistant.html')
                            return
                        }
                        else {
                            alert(res.message)
                            console.log(res.message)
                        }
                    })
                },
                serializeToJson(data) {
                    let values = []
                    for(index in data) {
                        values.push({
                            date: this.month,
                            day: data[index]['value'],
                            name: 'null'
                        })
                    }
                    return JSON.stringify(values)
                },
                getClosedDate() {
                    get('/api_v1.1/clinic/closed_date?date='+this.month).then(res => {
                        if(res.code == 200) {
                            this.data = res.data[0]
                            this.detail = res.data[1]
                        } else {
                            location.href = './index.html'
                        }
                    })
                },
                getDay(d) {
                    return parseInt(d.Date.slice(-2))
                },
                findName(d) {
                    const data = this.data.find(item => item.day === parseInt(d.Date.slice(-2)))
                    if(data !== undefined ) {
                        return (data.name !== 'null') ? data.name : ""
                    }
                },
                check(d) {
                    const data = this.data.find(item => item.day === parseInt(d.Date.slice(-2)))
                    if(data !== undefined ) {
                        return true
                    } else {
                        return false
                    }
                }
            },
            computed: {
                calculateDays() {
                    let closed_days = 0
                    this.data.forEach(item => {
                        closed_days = closed_days + 1
                    })
                    if(closed_days == this.detail.closed_days) {
                        this.status = '符合放假標準'
                    } else if(closed_days > this.detail.closed_days) {
                        this.status = '超過放假標準'
                    } else if(closed_days < this.detail.closed_days) {
                        this.status = '少於放假標準'
                    }
                }
            },
            watch: {
                month: {
                    handler: function() {
                        //獲取資料
                        this.getClosedDate()
                        //整理本月的週
                        this.getAllWeeks()
                    }
                }
            }
        })
    </script>
</body>
</html>