<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>離職員工資料</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/loading.css">
    <link rel="stylesheet" href="../assets/css/google.font.css">
<link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="loading-wrapper">
        <svg class="loading"><rect></rect></svg>
    </div>
    <div id='app'>
        <div class="wrapper"  >
            <!-- Sidebar -->
            <nav id="sidebar">
                <ul class="list-unstyled components">
                    <p>樂薪考勤系統 - <span v-text="user.clinic_name"></span></p>
                    <li><a href="./assistant.html">診所管理</a></li>
                    <li><a href="./announce.html">公告管理</a></li>
                    <li  class="active"><a href="./employee.html">員工資料</a></li>
                    <li><a href="./closed_date.html">休診設定</a></li>
                    <li><a href="./position.html">崗位設定</a></li>
                    <li><a href="./shift_setting.html">班別設定</a></li>
                    <li v-show="user.right > 2"><a href="./salary_item.html">薪項名稱設定</a></li>
                    <li v-show="user.right > 2"><a href="./basic_salary.html">基本薪資設定</a></li></a></li>
                    <li><a href="./new_shift.html">新排班表</a></li>
                    <li><a href="./shift_record.html">打卡明細</a></li>
                    <li ><a href="./attendance_overtime.html">加班明細</a></li>
                    <li><a href="./attendance_record.html">出勤明細</a></li>
                    <li><a href="./attendance_statistic.html">出勤統計表</a></li>
                    <li v-show="user.right > 2"><a href="./salary_calculation.html">每月薪資明細表</a></li>
                </ul>
            </nav>

            <!-- Page Content -->
            <div id="content">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="navbar-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="./employee.html">返回</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" @click="logout()">登出</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div>
                    <table id="table1" class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">工號</th>
                                <th scope="col">員工姓名</th>
                                <th scope="col">到職日</th>
                                <th scope="col">離職日</th>
                                <th scope="col">職位</th>
                                <th scope="col">職別</th>
                                <th scope="col">生日</th>
                                <th scope="col">性別</th>
                                <th scope="col">電話</th>
                                <th scope="col">手機</th>
                                <th scope="col" colspan="2">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr v-for="(d, index) in data">
                                    <th scope="row">{{index + 1}}</th>
                                    <td><p>{{d.job_number}}</p></td>
                                    <td><p>{{d.name}}</p></td>
                                    <td><p>{{d.work_at}}</p></td>
                                    <td><p>{{d.leave_at}}</p></td>
                                    <td><p>{{d.position}}</p></td>
                                    <td><p v-if="d.level_of_position == 2">正職</p><p v-if="d.level_of_position == 1">兼職</p><p v-if="d.level_of_position == 0">試用</p></td>                         
                                    <td><p>{{d.birthday}}</p></td>
                                    <td><p v-if="d.gender == 1">男</p><p v-else>女</p></td>
                                    <td><p>{{d.telephone}}</p></td>
                                    <td><p>{{d.cellphone}}</p></td>
                                    <td>
                                        <button class="btn btn-primary" @click="back(d.employee_id)">復職</button> 
                                        <button class="btn btn-primary" @click="deleteEmployeeData(d.employee_id)">刪除</button> 
                                    </td>
                                </tr>
                                <tr v-if="data == null || data.length < 1">
                                    <td colspan="11" style="text-align: center;">無離職員工資料</td>
                                </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination table1" >
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </div>


    
    <script src="../assets/js/loading.js"></script>
    <script src="../assets/js/jquery-3.4.1.min.js" ></script>
    <script src="../assets/js/q.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/vue.js"></script>
    <script src="../assets/js/pagination.js"></script>
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });

        new Vue({
            el: "#app",
            data: {
                data: [],
                family: [],
                user: {
                    user_id: 0,
                    account_number: '',
                    right: 0,
                    clinic_id: 0,
                    clinic_name:''
                },
            },
            created() {
                get('/api_v1.1/info?token='+window.localStorage.getItem('token')).then(res => {
                    if(res.code == 403) {
                        window.localStorage.removeItem('token')
                        location.href = './index.html'
                    } else {
                        this.user = res.data
                        get('/api_v1.1/clinic/employee/delete').then(res => {
                            if(res.code == 403) {
                                location.href = './index.html'
                            } else {
                                this.data = res.data
                            }
                        })
                    }
                })
                
            },
            updated() {
                getPagination('#table1',10);
            },
            methods: {
                logout() {
                    get('/api_v1.1/logout').then(res => {
                        if (res.code === 200) {
                            window.localStorage.removeItem('token')
                            alert('success')
                            location.href = './index.html'
                            return
                        }
                        else {
                            alert(res.message)
                        }
                    })
                },
                back(employee_id) {
                    if(confirm('是否要復職該員工?')) {
                            const data = {
                            'employee_id': employee_id
                        }
                        console.log(employee_id)
                        post('/api_v1.1/clinic/employee/delete/back', data).then(res => {
                            if (res.code === 200) {
                                alert(res.message)
                                window.location.reload('./employee.html')
                                return
                            }
                            else {
                                alert(res.message)
                                console.log(res.message)
                            }
                        })
                    }
                },
                deleteEmployeeData(employee_id) {
                    if(confirm('是否要刪除員工?')) {
                            const data = {
                            'employee_id': employee_id
                        }
                        post('/api_v1.1/clinic/employee/delete/hard', data).then(res => {
                            if (res.code === 200) {
                                alert(res.message)
                                window.location.reload('./employee.html')
                                return
                            }
                            else {
                                alert(res.message)
                                console.log(res.message)
                            }
                        })
                    }
                }
            }
        })
    </script>
</body>
</html>