<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>每月薪資明細表</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/loading.css">
    <link rel="stylesheet" href="../assets/css/google.font.css">
<link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="loading-wrapper">
        <svg class="loading"><rect></rect></svg>
    </div>
    <div id='app'>
        <div class="wrapper"  >
            <!-- Sidebar -->
            <nav id="sidebar">
                <ul class="list-unstyled components">
                    <p>樂薪考勤系統</p>
                    <li><a href="./assistant.html">診所管理</a></li>
                    <li><a href="./employee.html">員工資料</a></li>
                    <li><a href="./closed_date.html">休診設定</a></li>
                    <li><a href="./position.html">崗位設定</a></li>
                    <li><a href="./shift_setting.html">班別設定</a></li>
                    <li><a href="./salary_item.html">薪項名稱設定</a></li>
                    <li><a href="./basic_salary.html">基本薪資設定</a></li></a></li>
                    <li><a href="./new_shift.html">新排班表</a></li>
                    <li><a href="./shift_record.html">打卡明細</a></li>
                    <li ><a href="./attendance_overtime.html">加班明細</a></li>
                    <li><a href="./attendance_record.html">出勤明細</a></li>
                    <li><a href="./attendance_statistic.html">出勤統計表</a></li>
                    <li class="active"><a href="./salary_calculation.html">每月薪資明細表</a></li>
                </ul>
            </nav>

            <!-- Page Content -->
            <div id="content">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="navbar-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#" @click="logout()">登出</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div>
                    <div class="col-12 col-lg-7">
                        <div class="input-group mb-3">
                            <input type="month" class="form-control" id="month" v-model="month">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" @click="getSalaryCalculationData()" >確認</button>
                            </div>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#updateSalaryCalculation">資料統計</button>
                        </div>
                    </div>
                    <p>本月天數：{{detail.total_days}} 天　例假與國定假日天數：{{detail.closed_days}} 天　應工作總工時：{{detail.work_hours}} 小時</p>
                    <h3>正職</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">姓名</th>
                                <th scope="col">固定薪</th>
                                <th scope="col">日薪</th>
                                <th scope="col">時薪</th>
                                <th scope="col">超時(加班)費</th>
                                <th scope="col">伙食津貼</th>
                                <th scope="col" v-for="(d, index) in salary_item">{{d}}</th>
                                <th scope="col">勞保費</th>
                                <th scope="col">健保費</th>
                                <th scope="col">請假(扣全薪)</th>
                                <th scope="col">請假(扣半薪)</th>
                                <th scope="col">遲到</th>
                                <th scope="col">早退</th>
                                <th scope="col">應領金額</th>
                                <th scope="col">扣項金額</th>
                                <th scope="col">實領薪津</th>
                                <th scope="col">轉帳</th>
                                <th scope="col">現金</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(d, index) in data_2" >
                                <th scope="row">{{index+1}}</th>
                                <td><button data-toggle="modal" data-target="#editEmployee" class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#showThisEmployee"  @click="showThisEmployeeData(d.salary_calculation_id)">{{d.name}}</button></td>
                                <td>{{d.calculation_data.fixed_salary}}</td>
                                <td>{{d.calculation_data.daily_wage.toFixed(2)}}</td>
                                <td>{{d.calculation_data.hourly_wage.toFixed(2)}}</td>
                                <td>{{d.calculation_data.over_time_fee}}</td>
                                <td>{{d.calculation_data.meal_times_fee}}</td>
                                <td v-for="(d1, index) in d.salary_item_data">{{d1.value}}</td>
                                <td>{{d.calculation_data.labor_fee}}</td>
                                <td>{{d.calculation_data.health_total_fee}}</td>
                                <td>{{d.calculation_data.leave_all_fee}}</td>
                                <td>{{d.calculation_data.leave_half_fee}}</td>
                                <td>{{d.calculation_data.late_fee}}</td>
                                <td>{{d.calculation_data.early_fee}}</td>
                                <td>{{d.calculation_data.add_item}}</td>
                                <td>{{d.calculation_data.minus_item}}</td>
                                <td>{{d.calculation_data.total_salary}}</td>
                                <td>{{d.calculation_data.ATM}}</td>
                                <td>{{d.calculation_data.cash}}</td>
                            </tr>
                            <tr v-show="data_2 == null || data_2.length < 1">
                                <td colspan="30" style="text-align: center;">無月薪結算</td>
                            </tr>
                        </tbody>
                    </table>
                    <h3>兼職</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">姓名</th>
                                <th scope="col">時薪</th>
                                <th scope="col">總工時</th>
                                <th scope="col">薪津</th>
                                <th scope="col">超時(加班)費</th>
                                <th scope="col">伙食津貼</th>
                                <th scope="col" v-for="(d, index) in salary_item">{{d}}</th>
                                <th scope="col">勞保費</th>
                                <th scope="col">健保費</th>
                                <th scope="col">請假(扣全薪)</th>
                                <th scope="col">請假(扣半薪)</th>
                                <th scope="col">遲到</th>
                                <th scope="col">早退</th>
                                <th scope="col">應領金額</th>
                                <th scope="col">扣項金額</th>
                                <th scope="col">實領薪津</th>
                                <th scope="col">轉帳</th>
                                <th scope="col">現金</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(d, index) in data_1" >
                                <th scope="row">{{index+1}}</th>
                                <td><button data-toggle="modal" data-target="#editEmployee" class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#showThisEmployee"  @click="showThisEmployeeData(d.salary_calculation_id)">{{d.name}}</button></td>
                                <td>{{d.calculation_data.hourly_wage.toFixed(2)}}</td>
                                <td>{{(d.statistic_data.total_time).toFixed(2)}}</td>
                                <td>{{(d.calculation_data.hourly_wage * d.statistic_data.total_time).toFixed(0)}}</td>
                                <td>{{d.calculation_data.over_time_fee}}</td>
                                <td>{{d.calculation_data.meal_times_fee}}</td>
                                <td v-for="(d1, index) in d.salary_item_data">{{d1.value}}</td>
                                <td>{{d.calculation_data.labor_fee}}</td>
                                <td>{{d.calculation_data.health_total_fee}}</td>
                                <td>{{d.calculation_data.leave_all_fee}}</td>
                                <td>{{d.calculation_data.leave_half_fee}}</td>
                                <td>{{d.calculation_data.late_fee}}</td>
                                <td>{{d.calculation_data.early_fee}}</td>
                                <td>{{d.calculation_data.add_item}}</td>
                                <td>{{d.calculation_data.minus_item}}</td>
                                <td>{{d.calculation_data.total_salary}}</td>
                                <td>{{d.calculation_data.ATM}}</td>
                                <td>{{d.calculation_data.cash}}</td>
                            </tr>
                            <tr v-show="data_1 == null || data_1.length < 1">
                                <td colspan="30" style="text-align: center;">無月薪結算</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <!-- UPDATE SalaryCalculation Modal -->
        <div class="modal fade" id="updateSalaryCalculation" tabindex="-1" role="dialog" aria-labelledby="updateSalaryCalculationLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateSalaryCalculationLabel">資料統計</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="month">統整月份</label>
                            <input type="month" class="form-control" id="month" v-model="month">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" @click="updateSalaryCalculationData()">送出</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- EDIT ATTENDANCE Modal -->
        <div class="modal fade" id="editEmployee" tabindex="-1" role="dialog" aria-labelledby="editEmployeeLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editEmployeeLabel">每月薪資明細</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>薪資月份：{{this.month}}　本月天數：{{detail.total_days}} 天　例假與國定假日天數：{{detail.closed_days}}　天應工作總工時：{{detail.work_days * 2}} 小時　應工作診數：{{detail.total_days * 2}} 診　 在職天數：<span style="color: salmon;">{{updateForm.statistic_data.work_days}}</span> 天</p>
                        <p></p>
                        <table class="table" id="editTable" style="table-layout: fixed;">
                            <tbody>
                                <th colspan="10" style="background-color:#ffe9d6">員工資料</th>
                                <tr>
                                    <th scope="row">姓名</th>
                                    <td>
                                        {{updateForm.name}}
                                    </td>
                                    <th scope="row">到職日</th>
                                    <td colspan="2">
                                        {{updateForm.work_at}}
                                    </td>
                                    <th scope="row">離職日</th>
                                    <td colspan="2">
                                        {{(updateForm.leave_at === '9999-12-31' ? '' : updateForm.leave_at)}}
                                    </td>
                                    <th scope="row">職務別</th>
                                    <td><span style="color: cornflowerblue;">{{(updateForm.level_of_position == 1) ? '兼職' : '正職'}}</span></td>
                                </tr>
                                <th colspan="8" style="background-color:#ffe9d6">加項薪資</th>
                                <th style="background-color:#ffe9d6">加項合計</th>
                                <td style="background-color:#ffe9d6">{{updateForm.calculation_data.add_item}}</td>
                                <tr align="right">
                                    <th scope="row">固定薪</th>
                                    <td>
                                        {{updateForm.calculation_data.fixed_salary}}
                                    </td>
                                    <th v-show="updateForm.level_of_position === '2'" scope="row">底薪</th>
                                    <td v-show="updateForm.level_of_position === '2'">
                                        <input disabled type="number" class="form-control" v-model="updateForm.calculation_data.basic_salary">
                                    </td>
                                    <th v-show="updateForm.level_of_position === '2'" scope="row">日薪</th>
                                    <td  v-show="updateForm.level_of_position === '2'">
                                        {{updateForm.calculation_data.daily_wage.toFixed(2)}}
                                    </td>
                                    <th scope="row">時薪</th>
                                    <td>
                                        {{updateForm.calculation_data.hourly_wage.toFixed(2)}}
                                    </td>
                                    <th v-show="updateForm.level_of_position === '1'" scope="row">薪津</th>
                                    <td v-show="updateForm.level_of_position === '1'">
                                        {{(this.updateForm.calculation_data.hourly_wage * this.updateForm.statistic_data.total_time).toFixed(0)}}
                                    </td>
                                </tr>
                                <!-- 獎金 -->
                                <tr align="right" v-for="(d, index) in updateForm.salary_item_data">
                                    <th scope="row" v-if="(index * 4)  < (updateForm.salary_item_data.length) && updateForm.salary_item_data[index * 4].addORminus == 1"><span v-show="updateForm.salary_item_data[index * 4].paid_way == 1">❋</span><span v-show="updateForm.salary_item_data[index * 4].is_daily_salary == 1">⊙</span>{{updateForm.salary_item_data[index * 4].salary_name}}</th>
                                    <td v-if="(index * 4) < (updateForm.salary_item_data.length)  && updateForm.salary_item_data[index * 4].addORminus == 1"><input @change="reComputeTotal('salary_item_'+(index * 4), 'add', updateForm.salary_item_data[index * 4].paid_way, updateForm.salary_item_data[index * 4].is_fixed, updateForm.salary_item_data[index * 4].is_daily_salary)" class="form-control" type="number" min="0" v-model="updateForm.salary_item_data[index * 4].value"></td>
                                    <th scope="row" v-if="(index * 4 + 1) < (updateForm.salary_item_data.length) && updateForm.salary_item_data[index * 4 + 1].addORminus == 1"><span v-show="updateForm.salary_item_data[index * 4 + 1].paid_way == 1">❋</span><span v-show="updateForm.salary_item_data[index * 4 + 1].is_daily_salary == 1">⊙</span>{{updateForm.salary_item_data[index * 4 + 1].salary_name}}</th>
                                    <td v-if="(index * 4 + 1) < (updateForm.salary_item_data.length)  && updateForm.salary_item_data[index * 4 + 1].addORminus == 1"><input @change="reComputeTotal('salary_item_'+(index * 4 + 1), 'add', updateForm.salary_item_data[index * 4 + 1].paid_way, updateForm.salary_item_data[index * 4 + 1].is_fixed, updateForm.salary_item_data[index * 4 + 1].is_daily_salary)" class="form-control" type="number" min="0" v-model="updateForm.salary_item_data[index * 4 + 1].value"></td>
                                    <th scope="row" v-if="(index * 4 + 2) < (updateForm.salary_item_data.length) && updateForm.salary_item_data[index * 4 + 2].addORminus == 1"><span v-show="updateForm.salary_item_data[index * 4 + 2].paid_way == 1">❋</span><span v-show="updateForm.salary_item_data[index * 4 + 2].is_daily_salary == 1">⊙</span>{{updateForm.salary_item_data[index * 4 + 2].salary_name}}</th>
                                    <td v-if="(index * 4 + 2) < (updateForm.salary_item_data.length)  && updateForm.salary_item_data[index * 4 + 2].addORminus == 1"><input @change="reComputeTotal('salary_item_'+(index * 4 + 2), 'add', updateForm.salary_item_data[index * 4 + 2].paid_way, updateForm.salary_item_data[index * 4 + 2].is_fixed, updateForm.salary_item_data[index * 4 + 2].is_daily_salary)" class="form-control" type="number" min="0" v-model="updateForm.salary_item_data[index * 4 + 2].value"></td>
                                    <th scope="row" v-if="(index * 4 + 3) < (updateForm.salary_item_data.length) && updateForm.salary_item_data[index * 4 + 3].addORminus == 1"><span v-show="updateForm.salary_item_data[index * 4 + 3].paid_way == 1">❋</span><span v-show="updateForm.salary_item_data[index * 4 + 3].is_daily_salary == 1">⊙</span>{{updateForm.salary_item_data[index * 4 + 3].salary_name}}</th>
                                    <td v-if="(index * 4 + 3) < (updateForm.salary_item_data.length) && updateForm.salary_item_data[index * 4 + 3].addORminus == 1"><input @change="reComputeTotal('salary_item_' +(index * 4 + 3), 'add', updateForm.salary_item_data[index * 4 + 3].paid_way, updateForm.salary_item_data[index * 4 + 3].is_fixed, updateForm.salary_item_data[index * 4 + 3].is_daily_salary)" class="form-control" type="number" min="0" v-model="updateForm.salary_item_data[index * 4 + 3].value"></td>
                                </tr>
                                <tr align="right">
                                    <th scope="row">超時分鐘</th>
                                    <td>
                                        {{updateForm.statistic_data.over_time}}
                                    </td>
                                    <th scope="row">超時費</th>
                                    <td>
                                        <input @change="reComputeTotal('over_time_fee', 'add')" type="number" class="form-control" v-model="updateForm.calculation_data.over_time_fee">
                                    </td>
                                    <th scope="row">加診診數</th>
                                    <td>
                                        {{updateForm.statistic_data.bonus_period}}
                                    </td>
                                    <th scope="row">加診費</th>
                                    <td>
                                        <input @change="reComputeTotal('bonus_period_fee', 'add')" type="number" class="form-control" v-model="updateForm.calculation_data.bonus_period_fee">
                                    </td>
                                </tr>
                                <tr align="right">
                                    <th scope="row">餐點補助次數</th>
                                    <td>
                                        {{updateForm.statistic_data.meal_times}}
                                    </td>
                                    <th scope="row">伙食津貼</th>
                                    <td>
                                        <input @change="reComputeTotal('meal_times_fee', 'add')" type="number" class="form-control" v-model="updateForm.calculation_data.meal_times_fee">
                                    </td>
                                </tr>
                                <th colspan="8" style="background-color:#ffe9d6">減項薪資</th>
                                <th style="background-color:#ffe9d6">減項合計</th>
                                <td style="background-color:#ffe9d6">{{updateForm.calculation_data.minus_item}}</td>
                                <tr align="right">
                                    <th scope="row">請假時數(扣全薪)</th>
                                    <td>
                                        {{updateForm.statistic_data.leave_all}}
                                    </td>
                                    <th scope="row">請假扣薪</th>
                                    <td>
                                        <input @change="reComputeTotal('leave_all_fee', 'minus')" type="number" class="form-control" v-model="updateForm.calculation_data.leave_all_fee">
                                    </td>
                                    <th scope="row">請假時數(扣半薪)</th>
                                    <td>
                                        {{updateForm.statistic_data.leave_half}}
                                    </td>
                                    <th scope="row">請假扣薪</th>
                                    <td>
                                        <input @change="reComputeTotal('leave_half_fee', 'minus')" type="number" class="form-control" v-model="updateForm.calculation_data.leave_half_fee">
                                    </td>
                                </tr>
                                <tr align="right">
                                    <th scope="row">遲到分鐘</th>
                                    <td>
                                        {{updateForm.statistic_data.late}}
                                    </td>
                                    <th scope="row">遲到扣薪</th>
                                    <td>
                                        <input @change="reComputeTotal('late_fee', 'minus')" type="number" class="form-control" v-model="updateForm.calculation_data.late_fee">
                                    </td>
                                    <th scope="row">早退分鐘</th>
                                    <td>
                                        {{updateForm.statistic_data.early}}
                                    </td>
                                    <th scope="row">早退扣薪</th>
                                    <td>
                                        <input @change="reComputeTotal('early_fee', 'minus')" type="number" class="form-control" v-model="updateForm.calculation_data.early_fee">
                                    </td>
                                </tr>
                                <tr align="right">
                                    <th scope="row">勞保費</th>
                                    <td>
                                        <input @change="reComputeTotal('labor_fee', 'minus')" type="number" class="form-control" v-model="updateForm.calculation_data.labor_fee">
                                    </td>
                                    <th scope="row">健保費</th>
                                    <td>
                                        <input @change="reComputeTotal('health_fee', 'minus')" type="number" class="form-control" v-model="updateForm.calculation_data.health_fee">
                                    </td>
                                    <th scope="row">眷屬人數</th>
                                    <td>
                                        {{updateForm.calculation_data.health_nums}}
                                    </td>
                                    <th scope="row">健保合計</th>
                                    <td>
                                        {{updateForm.calculation_data.health_total_fee}}
                                    </td>
                                </tr>
                                <!-- 獎金 -->
                                <tr align="right" v-for="(d, index) in updateForm.salary_item_data">
                                    <th scope="row" v-if="(index * 4)  < (updateForm.salary_item_data.length) && updateForm.salary_item_data[index * 4].addORminus == 0"><span v-show="updateForm.salary_item_data[index * 4].paid_way == 1">❋</span><span v-show="updateForm.salary_item_data[index * 4].is_daily_salary == 1">⊙</span>{{updateForm.salary_item_data[index * 4].salary_name}}</th>
                                    <td v-if="(index * 4) < (updateForm.salary_item_data.length)  && updateForm.salary_item_data[index * 4].addORminus == 0"><input @change="reComputeTotal('salary_item_'+(index * 4), 'minus', updateForm.salary_item_data[index * 4].paid_way, updateForm.salary_item_data[index * 4].is_fixed, updateForm.salary_item_data[index * 4].is_daily_salary)" class="form-control" type="number" min="0" v-model="updateForm.salary_item_data[index * 4].value"></td>
                                    <th scope="row" v-if="(index * 4 + 1) < (updateForm.salary_item_data.length) && updateForm.salary_item_data[index * 4 + 1].addORminus == 0"><span v-show="updateForm.salary_item_data[index * 4 + 1].paid_way == 1">❋</span><span v-show="updateForm.salary_item_data[index * 4 + 1].is_daily_salary == 1">⊙</span>{{updateForm.salary_item_data[index * 4 + 1].salary_name}}</th>
                                    <td v-if="(index * 4 + 1) < (updateForm.salary_item_data.length)  && updateForm.salary_item_data[index * 4 + 1].addORminus == 0"><input @change="reComputeTotal('salary_item_'+(index * 4 + 1), 'minus', updateForm.salary_item_data[index * 4 + 1].paid_way, updateForm.salary_item_data[index * 4 + 1].is_fixed, updateForm.salary_item_data[index * 4 + 1].is_daily_salary)" class="form-control" type="number" min="0" v-model="updateForm.salary_item_data[index * 4 + 1].value"></td>
                                    <th scope="row" v-if="(index * 4 + 2) < (updateForm.salary_item_data.length) && updateForm.salary_item_data[index * 4 + 2].addORminus == 0"><span v-show="updateForm.salary_item_data[index * 4 + 2].paid_way == 1">❋</span><span v-show="updateForm.salary_item_data[index * 4 + 2].is_daily_salary == 1">⊙</span>{{updateForm.salary_item_data[index * 4 + 2].salary_name}}</th>
                                    <td v-if="(index * 4 + 2) < (updateForm.salary_item_data.length)  && updateForm.salary_item_data[index * 4 + 2].addORminus == 0"><input @change="reComputeTotal('salary_item_'+(index * 4 + 2), 'minus', updateForm.salary_item_data[index * 4 + 2].paid_way, updateForm.salary_item_data[index * 4 + 2].is_fixed, updateForm.salary_item_data[index * 4 + 2].is_daily_salary)" class="form-control" type="number" min="0" v-model="updateForm.salary_item_data[index * 4 + 2].value"></td>
                                    <th scope="row" v-if="(index * 4 + 3) < (updateForm.salary_item_data.length) && updateForm.salary_item_data[index * 4 + 3].addORminus == 0"><span v-show="updateForm.salary_item_data[index * 4 + 3].paid_way == 1">❋</span><span v-show="updateForm.salary_item_data[index * 4 + 3].is_daily_salary == 1">⊙</span>{{updateForm.salary_item_data[index * 4 + 3].salary_name}}</th>
                                    <td v-if="(index * 4 + 3) < (updateForm.salary_item_data.length) && updateForm.salary_item_data[index * 4 + 3].addORminus == 0"><input @change="reComputeTotal('salary_item_' +(index * 4 + 3), 'minus', updateForm.salary_item_data[index * 4 + 3].paid_way, updateForm.salary_item_data[index * 4 + 3].is_fixed, updateForm.salary_item_data[index * 4 + 3].is_daily_salary)" class="form-control" type="number" min="0" v-model="updateForm.salary_item_data[index * 4 + 3].value"></td>
                                </tr>
                                <th colspan="8" style="background-color:#ffe9d6">薪資合計</th>
                                <th style="background-color:#ffe9d6">實領</th>
                                <td style="background-color:#ffe9d6">{{updateForm.calculation_data.total_salary}}</td>
                                <tr>
                                    <th scope="row" colspan="8"></th>
                                    <th scope="row">轉帳</th>
                                    <td >
                                        {{updateForm.calculation_data.ATM}}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" colspan="8"></th>
                                    <th scope="row">現金</th>
                                    <td >
                                        {{updateForm.calculation_data.cash}}
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="10" style="text-align: right;">
                                        <button type="button" class="btn btn-primary" @click="updateThisEmployeeData()">更新</button>
                                    </th>
                                </tr>
                                <tr style="text-align: right;"><td  colspan="10">註：❋領現金、⊙日薪計算基準</td></tr>
                                  
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



    </div>



    <script src="../assets/js/loading.js"></script>
    <script src="../assets/js/jquery-3.4.1.min.js" ></script>
    <script src="../assets/js/q.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/vue.js"></script>
    <script src="../assets/js/moment.js"></script>
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });

        });

        new Vue({
            el: "#app",
            data: {
                data: [],
                data_1: [],
                data_2: [],
                month: '0000-00',
                updateForm: {
                    salary_calculation_id: 0,
                    name: "",
                    work_at: "0000-00-00",
                    leave_at: "0000-00-00",
                    level_of_position: "2",
                    salary_item_data: [],
                    statistic_data: {
                        bonus_period: 0,
                        early: 0,
                        late: 0,
                        leave_all: 0,
                        leave_half: 0,
                        leave_none: 0,
                        meal_times: 0,
                        no_record_times: 0,
                        over_time: 0,
                        period: 0,
                        total_time: 0,
                        work_days: 0
                    },
                    calculation_data: {
                        fixed_salary: 0,
                        daily_wage: 0,
                        hourly_wage: 0,
                        over_time_fee: 0,
                        bonus_period_fee: 0,
                        meal_times_fee: 0,
                        //減項
                        leave_all_fee: 0,
                        leave_half_fee: 0,
                        late_fee: 0,
                        early_fee: 0,
                        labor_fee: 0,
                        health_fee: 0,
                        health_nums: 0,
                        health_total_fee: 0,
                        //結果
                        add_item: 0,
                        minus_item: 0,
                        total_salary: 0,
                        ATM: 0,
                        cash: 0
                    }
                },
                detail: {
                    total_days: 0,
                    total_hours: 0,
                    work_days: 0,
                    work_hours: 0,
                    closed_days: 0,
                    closed_hours: 0
                },
                salary_item: [],
                oldUpdateForm: []
            },
            created() {
                //判斷這本月
                this.month = new Date().Format('yyyy-MM')
                //自動賦值，月初和月底
                this.getSalaryCalculationData()
                
            },
            methods: {
                logout() {
                    get('/api_v1.1/logout').then(res => {
                        if (res.code === 200) {
                            alert('success')
                            location.href = './index.html'
                            return
                        }
                        else {
                            alert(res.message)
                        }
                    })
                },
                getClosedDate() {
                    get('/api_v1.1/clinic/closed_date?date='+this.month).then(res => {
                        if(res.code == 403) {
                            location.href = './index.html'
                        } else {
                            this.detail = res.data[1]
                        }
                    })
                },
                getSalaryCalculationData() {
                    get(`/api_v1.1/clinic/salary/calculation?start=${this.month}`).then(res => {
                        if(res.code == 403) {
                            location.href = './index.html'
                        } else {
                            this.data = res.data[0]
                            this.data_1 = res.data[0].filter(d => parseInt(d.level_of_position) === 1)
                            this.data_2 = res.data[0].filter(d => parseInt(d.level_of_position) === 2)
                            this.work_status = res.data[1]
                            this.salary_item = []
                            if(res.data[0].length > 0) {
                                res.data[0][0].salary_item_data.forEach(item => {
                                    this.salary_item.push(item.salary_name);
                                })
                            }
                            this.getClosedDate()
                            
                        }
                    })
                },
                updateSalaryCalculationData() {
                    post(`/api_v1.1/clinic/salary/calculation/update?start=${this.month}`).then(res => {
                        if(res.code == 403) {
                            location.href = './index.html'
                        } else if(res.code == 200) {
                            alert('更新成功!')
                            window.location.reload('./salary_calculation.html')
                        }
                    })
                },
                showThisEmployeeData(salary_calculation_id) {
                    const data = this.data.find(d => d.salary_calculation_id == salary_calculation_id)
                    const work = this.work_status.find(d => d.employee_id == data.employee_id)
                    this.updateForm.salary_calculation_id = data.salary_calculation_id
                    this.updateForm.employee_id = data.employee_id
                    this.updateForm.name = data.name
                    this.updateForm.statistic_data = data.statistic_data
                    this.updateForm.salary_item_data = data.salary_item_data
                    this.updateForm.calculation_data = data.calculation_data
                    this.updateForm.work_at = work.work_at
                    this.updateForm.leave_at = work.leave_at
                    this.updateForm.level_of_position = data.level_of_position

                    this.setValue()
                },
                updateThisEmployeeData() {
                    let form = {}
                    form.salary_calculation_id = this.updateForm.salary_calculation_id
                    form.calculation_data = this.updateForm.calculation_data
                    form.salary_item_data = this.updateForm.salary_item_data
                    post(`/api_v1.1/clinic/salary/calculation/update/id`, form).then(res => {
                        if(res.code == 403) {
                            location.href = './index.html'
                        } else if(res.code == 200) {
                            alert('更新成功!')
                            $('#editEmployee').modal('hide')
                            this.$nextTick()
                        }
                    })
                },
                reComputeTotal(dataType = null, calType = 'add', paidWay = 0, isFixed = 0, isDailySalary = 0) {
                    //TODO 兼職全職方式不同
                    //正職
                    if(dataType.slice(0,11) === "salary_item") {
                        //獎金部份計算方式不同
                        if(parseInt(isDailySalary) === 1) {
                            ///正職
                            const difference = this.updateForm.salary_item_data[dataType.slice(-1)].value - this.oldUpdateForm.salary_item_data[dataType.slice(-1)].value
                            if(this.updateForm.level_of_position === "2") {
                                if(calType === 'add') {
                                    //要重新計算日薪，並且重算有時數的加減項
                                    this.updateForm.calculation_data.daily_wage = parseFloat(((this.updateForm.calculation_data.daily_wage * 30 + difference) /30).toFixed(2))
                                    this.updateForm.calculation_data.hourly_wage = parseFloat((this.updateForm.calculation_data.daily_wage / 8).toFixed(2))
                                } else {
                                    this.updateForm.calculation_data.daily_wage = parseFloat(((this.updateForm.calculation_data.daily_wage * 30 - difference) /30).toFixed(2))
                                    this.updateForm.calculation_data.hourly_wage = parseFloat((this.updateForm.calculation_data.daily_wage / 8).toFixed(2))
                                }
                                //加班
                                this.updateForm.calculation_data.over_time_fee = parseFloat((((this.updateForm.statistic_data.over_time / 60) * this.updateForm.calculation_data.hourly_wage)).toFixed(0))
                                //請假
                                this.updateForm.calculation_data.leave_all_fee = parseFloat((((this.updateForm.statistic_data.leave_all / 60) * this.updateForm.calculation_data.hourly_wage)).toFixed(0))
                                this.updateForm.calculation_data.leave_half_fee = parseFloat((((this.updateForm.statistic_data.leave_half / 60) * this.updateForm.calculation_data.hourly_wage)).toFixed(0))
                                //早退
                                this.updateForm.calculation_data.early_fee = parseFloat((((this.updateForm.statistic_data.early / 60) * this.updateForm.calculation_data.hourly_wage)).toFixed(0))
                                //遲到
                                this.updateForm.calculation_data.late_fee = parseFloat((((this.updateForm.statistic_data.late / 60) * this.updateForm.calculation_data.hourly_wage)).toFixed(0))
                                
                                //先計算日薪 * 天數
                                this.updateForm.calculation_data.add_item = parseFloat(this.updateForm.calculation_data.daily_wage * ((this.updateForm.statistic_data.work_days > 30) ? 30 : this.updateForm.statistic_data.work_days))
                                //foreach 薪項
                                this.updateForm.calculation_data.cash = 0
                                this.updateForm.calculation_data.minus_item = 0
                                this.updateForm.salary_item_data.forEach(item => {
                                    if(item.is_daily_salary === "0") {
                                        if(item.addORminus === "1") {
                                            //加項
                                            this.updateForm.calculation_data.add_item += parseInt(item.value)
                                            if(item.paid_way === "1") {
                                                //現金
                                                this.updateForm.calculation_data.cash += parseInt(item.value)
                                            }
                                        } else {
                                            //減項
                                            this.updateForm.calculation_data.minus_item += parseInt(item.value)
                                            if(item.paid_way === "1") {
                                                //現金
                                                this.updateForm.calculation_data.cash -= parseInt(item.value)
                                            }
                                        }
                                    } else {
                                        //日薪計算基準 現金 * 天數 不大於30天
                                        if(item.addORminus === "1") {
                                            if(item.paid_way === "1") {
                                                //現金
                                                this.updateForm.calculation_data.cash += parseFloat(((item.value / 30) * ((this.updateForm.statistic_data.work_days >= 30) ? 30 : this.updateForm.statistic_data.work_days)).toFixed(2))
                                            }
                                        } else {
                                            if(item.paid_way === "1") {
                                                //現金
                                                this.updateForm.calculation_data.cash -= parseFloat(((item.value / 30) * ((this.updateForm.statistic_data.work_days >= 30) ? 30 : this.updateForm.statistic_data.work_days)).toFixed(2))
                                            }
                                        }
                                    }
                                })

                                //加項
                                this.updateForm.calculation_data.add_item += this.updateForm.calculation_data.bonus_period_fee + this.updateForm.calculation_data.over_time_fee + this.updateForm.calculation_data.meal_times_fee

                                //減項
                                this.updateForm.calculation_data.minus_item += this.updateForm.calculation_data.leave_all_fee + this.updateForm.calculation_data.leave_half_fee + this.updateForm.calculation_data.late_fee + this.updateForm.calculation_data.early_fee + parseInt(this.updateForm.calculation_data.health_total_fee) + parseInt(this.updateForm.calculation_data.labor_fee)
                                
                                //總計
                                this.updateForm.calculation_data.add_item = (Math.round(this.updateForm.calculation_data.add_item))
                                this.updateForm.calculation_data.minus_item = (Math.round(this.updateForm.calculation_data.minus_item))
                                this.updateForm.calculation_data.cash = (Math.round(this.updateForm.calculation_data.cash))
                                this.updateForm.calculation_data.total_salary = this.updateForm.calculation_data.add_item - this.updateForm.calculation_data.minus_item
                                this.updateForm.calculation_data.ATM = this.updateForm.calculation_data.total_salary - this.updateForm.calculation_data.cash

                                //isfixed
                                if(parseInt(isFixed) === 1) {
                                    this.updateForm.calculation_data.fixed_salary += difference
                                }
                            } else {
                                //TODO兼職
                                if(calType === 'add') {
                                    // this.updateForm.calculation_data.daily_wage = parseFloat(((this.updateForm.calculation_data.daily_wage * 30 + ) /30).toFixed(2))
                                    this.updateForm.calculation_data.hourly_wage = parseFloat(((this.updateForm.calculation_data.hourly_wage * 240 + difference) / 240).toFixed(2))
                                } else {
                                    // this.updateForm.calculation_data.daily_wage = parseFloat(((this.updateForm.calculation_data.daily_wage * 30 - difference) /30).toFixed(2))
                                    this.updateForm.calculation_data.hourly_wage = parseFloat(((this.updateForm.calculation_data.hourly_wage * 240 - difference) / 240).toFixed(2))
                                }
                                //加班
                                this.updateForm.calculation_data.over_time_fee = parseFloat((((this.updateForm.statistic_data.over_time / 60) * this.updateForm.calculation_data.hourly_wage)).toFixed(0))
                                //請假
                                this.updateForm.calculation_data.leave_all_fee = parseFloat((((this.updateForm.statistic_data.leave_all / 60) * this.updateForm.calculation_data.hourly_wage)).toFixed(0))
                                this.updateForm.calculation_data.leave_half_fee = parseFloat((((this.updateForm.statistic_data.leave_half / 60) * this.updateForm.calculation_data.hourly_wage)).toFixed(0))
                                //早退
                                this.updateForm.calculation_data.early_fee = parseFloat((((this.updateForm.statistic_data.early / 60) * this.updateForm.calculation_data.hourly_wage)).toFixed(0))
                                //遲到
                                this.updateForm.calculation_data.late_fee = parseFloat((((this.updateForm.statistic_data.late / 60) * this.updateForm.calculation_data.hourly_wage)).toFixed(0))
                                
                                //先計算日薪 * 天數
                                this.updateForm.calculation_data.add_item = parseFloat(this.updateForm.calculation_data.hourly_wage * this.updateForm.statistic_data.total_time)
                                //foreach 薪項
                                this.updateForm.calculation_data.cash = 0
                                this.updateForm.calculation_data.minus_item = 0
                                this.updateForm.salary_item_data.forEach(item => {
                                    if(item.is_daily_salary === "0") {
                                        if(item.addORminus === "1") {
                                            //加項
                                            this.updateForm.calculation_data.add_item += parseInt(item.value)
                                            if(item.paid_way === "1") {
                                                //現金
                                                this.updateForm.calculation_data.cash += parseInt(item.value)
                                            }
                                        } else {
                                            //減項
                                            this.updateForm.calculation_data.minus_item += parseInt(item.value)
                                            if(item.paid_way === "1") {
                                                //現金
                                                this.updateForm.calculation_data.cash -= parseInt(item.value)
                                            }
                                        }
                                    } else {
                                        //日薪計算基準 現金 * 天數 不大於30天
                                        if(item.addORminus === "1") {
                                            if(item.paid_way === "1") {
                                                //現金
                                                this.updateForm.calculation_data.cash += parseFloat(((item.value / 240) * this.updateForm.statistic_data.total_time).toFixed(2))
                                            }
                                        } else {
                                            if(item.paid_way === "1") {
                                                //現金
                                                this.updateForm.calculation_data.cash -= parseFloat(((item.value / 240) * this.updateForm.statistic_data.total_time).toFixed(2))
                                            }
                                        }
                                    }
                                })

                                //加項
                                this.updateForm.calculation_data.add_item += this.updateForm.calculation_data.bonus_period_fee + this.updateForm.calculation_data.over_time_fee + this.updateForm.calculation_data.meal_times_fee

                                //減項
                                this.updateForm.calculation_data.minus_item += this.updateForm.calculation_data.leave_all_fee + this.updateForm.calculation_data.leave_half_fee + this.updateForm.calculation_data.late_fee + this.updateForm.calculation_data.early_fee + parseInt(this.updateForm.calculation_data.health_total_fee) + parseInt(this.updateForm.calculation_data.labor_fee)
                                
                                //總計
                                this.updateForm.calculation_data.add_item = (Math.round(this.updateForm.calculation_data.add_item))
                                this.updateForm.calculation_data.minus_item = (Math.round(this.updateForm.calculation_data.minus_item))
                                this.updateForm.calculation_data.cash = (Math.round(this.updateForm.calculation_data.cash))
                                this.updateForm.calculation_data.total_salary = this.updateForm.calculation_data.add_item - this.updateForm.calculation_data.minus_item
                                this.updateForm.calculation_data.ATM = this.updateForm.calculation_data.total_salary - this.updateForm.calculation_data.cash

                                //isfixed
                                if(parseInt(isFixed) === 1) {
                                    this.updateForm.calculation_data.fixed_salary += difference
                                }
                            }                            
                        } else {
                            //跟一般的多fixed paidway
                            const difference = this.updateForm.salary_item_data[dataType.slice(-1)].value - this.oldUpdateForm.salary_item_data[dataType.slice(-1)].value
                            if(calType === 'add') {
                                this.updateForm.calculation_data.add_item += difference
                                this.updateForm.calculation_data.total_salary = this.updateForm.calculation_data.add_item - this.updateForm.calculation_data.minus_item
                                if(parseInt(paidWay) === 0) {
                                    //現金
                                    this.updateForm.calculation_data.ATM = this.updateForm.calculation_data.total_salary - this.updateForm.calculation_data.cash
                                } else {
                                    //轉帳
                                    this.updateForm.calculation_data.cash = this.updateForm.calculation_data.total_salary - this.updateForm.calculation_data.ATM
                                }
                                if(parseInt(isFixed) === 1) {
                                    this.updateForm.calculation_data.fixed_salary += difference
                                }
                            } else {
                                this.updateForm.calculation_data.minus_item += difference
                                this.updateForm.calculation_data.total_salary = this.updateForm.calculation_data.add_item - this.updateForm.calculation_data.minus_item
                                if(parseInt(paidWay) === 0) {
                                    //現金
                                    this.updateForm.calculation_data.ATM = this.updateForm.calculation_data.total_salary - this.updateForm.calculation_data.cash
                                } else {
                                    //轉帳
                                    this.updateForm.calculation_data.cash = this.updateForm.calculation_data.total_salary - this.updateForm.calculation_data.ATM
                                }
                                if(parseInt(isFixed) === 1) {
                                    this.updateForm.calculation_data.fixed_salary -= difference
                                }
                            }
                        }
                        console.log(dataType, calType, paidWay , isFixed, isDailySalary);
                    } else {
                        //該新值與舊值的差
                        const difference = this.updateForm.calculation_data[dataType] - this.oldUpdateForm.calculation_data[dataType]
                        if(calType === 'add') {
                            this.updateForm.calculation_data.add_item += difference
                            this.updateForm.calculation_data.total_salary = this.updateForm.calculation_data.add_item - this.updateForm.calculation_data.minus_item
                            this.updateForm.calculation_data.ATM = this.updateForm.calculation_data.total_salary - this.updateForm.calculation_data.cash
                        } else {
                            //健保計算方式特別
                            if(dataType === 'health_fee') {
                                const rate = (this.oldUpdateForm.calculation_data.health_total_fee) != 0 ? parseFloat(this.oldUpdateForm.calculation_data.health_total_fee / this.oldUpdateForm.calculation_data.health_fee) : 1
                                this.updateForm.calculation_data.health_total_fee = parseInt(this.updateForm.calculation_data.health_total_fee) + parseInt((difference * rate).toFixed(0))
                                this.updateForm.calculation_data.minus_item += parseInt((difference * rate).toFixed(0))
                                this.updateForm.calculation_data.total_salary = this.updateForm.calculation_data.add_item - this.updateForm.calculation_data.minus_item
                                this.updateForm.calculation_data.ATM = this.updateForm.calculation_data.total_salary - this.updateForm.calculation_data.cash
                            } else {
                                this.updateForm.calculation_data.minus_item += difference
                                this.updateForm.calculation_data.total_salary = this.updateForm.calculation_data.add_item - this.updateForm.calculation_data.minus_item
                                this.updateForm.calculation_data.ATM = this.updateForm.calculation_data.total_salary - this.updateForm.calculation_data.cash
                            }
                        }
                    }
                    //兼職
                    this.setValue()
                },
                setValue() {
                    this.oldUpdateForm = JSON.parse(JSON.stringify(this.updateForm))
                }
            }
        })
    </script>
</body>
</html>