<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>薪資&考勤設定</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/loading.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="loading-wrapper">
        <svg class="loading"><rect></rect></svg>
    </div>
    <div id='app'>
        <div class="wrapper"  >
            <!-- Sidebar -->
            <nav id="sidebar">
                <ul class="list-unstyled components">
                    <p>樂薪考勤系統</p>
                    <li><a href="./assistant.html">診所管理</a></li>
                    <li><a href="./employee.html">員工資料</a></li>
                    <li><a href="./closed_date.html">休診設定</a></li>
                    <li><a href="./shift_setting.html">班別設定</a></li>
                    <li class="active"><a href="./salary_attendance.html">薪資&考勤設定</a></li>
                    <li><a href="./salary_item.html">薪項名稱設定</a></li>
                    <li><a href="#">基本薪資</a></li>
<li><a href="./new_shift.html">新排班表</a></li>
                    <li><a href="./shift.html">排班表</a></li>
                    <li><a href="./shift_record.html">打卡明細</a></li>
                    <li><a href="#">出勤明細</a></li>
                    <li><a href="#">出勤統計表</a></li>
                    <li><a href="#">每月薪資明細表</a></li>
                </ul>
            </nav>

            <!-- Page Content -->
            <div id="content">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="navbar-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#" @click="logout()">登出</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div>
                    <h2>考勤設定</h2>
                    <ul class="list-group mb-2">
                        <li class="list-group-item form-inline">
                            <div class="form-group mx-sm-3 mb-1">
                                <input type="checkbox" id="is_overtime" v-model="data1[0].onORoff" :true-value="1" :false-value="0">是否計算加班，下班
                                <input type="text" class="form-control" size="1" id="is_overtime_1" v-model="data1[0].param1">
                                分鐘後算加班，開始計算時間為下班時間加
                                <input type="text" class="form-control" size="1" id="is_overtime_2" v-model="data1[0].param2">分鐘
                              </div>
                        </li>
                        <li class="list-group-item form-inline">
                            <div class="form-group mx-sm-3 mb-2">
                                <input type="checkbox" id="is_delay" v-model="data1[1].onORoff" :true-value="1" :false-value="0">是否計算遲到時間，上班
                                <input type="text" class="form-control" size="1" id="is_delay_1" v-model="data1[1].param1">分鐘後算遲到
                              </div>
                            
                        </li>
                    </ul>
                    <h2>薪資設定</h2>
                    <ul class="list-group mb-2">
                        <li class="list-group-item form-inline">
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="meal_allowance">餐費補助: </label>
                                <input type="text" class="form-control ml-2" size="1" id="meal_allowance" v-model="data2.meal_allowance">
                            </div>
                        </li>
                        <li class="list-group-item form-inline">
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="pt_wage">兼職人員薪資: </label>
                                <select  id="pt_wage" class="form-control ml-2" v-model="data2.pt_wage">
                                    <option value="1">依兼職時薪</option>
                                    <option value="2">依固定薪算出時薪</option>
                                </select>
                            </div>
                        </li>
                        <li class="list-group-item form-inline"  v-show="salaryChange()">
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="hourly_wage">時薪: </label>
                                <input type="text" class="form-control ml-2" size="1" value="158" id="hourly_wage" v-model="data2.hourly_wage" >
                            </div>
                        </li>
                    </ul>
                    <button class="btn btn-primary" @click="updateSalaryAttendanceData()">更新</button>
                </div>
            </div>
        </div>

    </div>



    <script src="../assets/js/loading.js"></script>
    <script src="https://res.code.jquery.com/jquery-3.4.1.min.js" ></script>
    <script src="../assets/js/q.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });

        new Vue({
            el: "#app",
            data: {
                data1: [
                    {
                        onORoff: 0,
                        param1: 0,
                        param2: 0
                    },
                    {
                        onORoff: 0,
                        param1: 0
                    }
                    ],
                data2: {
                    meal_allowance: 0,
                    pt_wage: 1,
                    hourly_wage: 158
                },
            },
            created() {
                get('/api_v1.1/clinic/salary_attendance/setting').then(res => {
                        this.data1 = res.data[0]
                        this.data2 = res.data[1]
                })
            },
            methods: {
                logout() {
                    get('/api_v1.1/logout').then(res => {
                        if (res.code === 200) {
                            alert('success')
                            location.href = './index.html'
                            return
                        }
                        else {
                            alert(res.message)
                        }
                    })
                },
                updateSalaryAttendanceData() {
                    const data = [
                        this.data1,
                        this.data2
                    ]
                    post('/api_v1.1/clinic/salary_attendance/setting/update', data).then(res => {
                        if (res.code === 200) {
                            alert(res.message)
                            window.location.reload('./salary_attendance.html')
                            return
                        }
                        else {
                            alert(res.message)
                            console.log(res.message)
                        }
                    })
                },
                salaryChange() {
                    if(parseInt(this.data2.pt_wage) == 1) {
                        return true
                    } else if(parseInt(this.data2.pt_wage) == 2) {
                        return false
                    }
                }
            }
        })
    </script>
</body>
</html>