<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>排班表</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/loading.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="loading-wrapper">
        <svg class="loading"><rect></rect></svg>
    </div>
    <div id='app'>
        <div class="wrapper"  >
            <!-- Sidebar -->
            <nav id="sidebar">
                <ul class="list-unstyled components">
                    <p>樂薪考勤系統</p>
                    <li><a href="./assistant.html">診所管理</a></li>
                    <li><a href="./employee.html">員工資料</a></li>
                    <li><a href="./closed_date.html">休診設定</a></li>
                    <li><a href="./shift_setting.html">班別設定</a></li>
                    <li><a href="./salary_attendance.html">薪資&考勤設定</a></li>
                    <li><a href="./salary_item.html">薪項名稱設定</a></li>
                    <li><a href="#">基本薪資</a></li>
<li><a href="./new_shift.html">新排班表</a></li>
                    <li  class="active"><a href="./shift.html">排班表</a></li>
                    <li><a href="./shift_record.html">打卡明細</a></li>
                    <li><a href="#">出勤明細</a></li>
                    <li><a href="#">出勤統計表</a></li>
                    <li><a href="#">每月薪資明細表</a></li>
                </ul>
            </nav>

            <!-- Page Content -->
            <div id="content">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="navbar-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#" @click="logout()">登出</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div>
                    <div class="input-group mb-3">
                        <input type="month" class="form-control" id="month">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" @click="getShift()" >確認</button>
                        </div>
                    </div>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#addShift">新增排班</button>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">日期</th>
                                <th scope="col">星期</th>
                                <th scope="col">班別名稱</th>
                                <th scope="col">員工名稱</th>
                                <th scope="col">員工職位</th>
                                <th scope="col">員工職別</th>
                                <th scope="col">員工手機</th>
                                <th scope="col">總時數</th>
                                <th scope="col">餐費補助</th>
                                <th scope="col" colspan="2">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr v-for="(d, index) in data">
                                    <th scope="row">{{index + 1}}</th>
                                    <td>{{d.date}}</td>
                                    <td>{{d.week}}</td>
                                    <td>{{d.shift_name}}</td>
                                    <td>{{d.name}}</td>
                                    <td>{{d.position}}</td>
                                    <td><p v-if="d.level_of_position == 2">正職</p><p v-if="d.level_of_position == 1">兼職</p><p v-if="d.level_of_position == 0">試用</p></td>
                                    <td>{{d.cellphone}}</td>
                                    <td>{{parseInt(d.time_1st)+parseInt(d.time_2nd)+parseInt(d.time_3rd)}}</td>
                                    <td>{{d.meal_times}}</td>                    
                                    <td>
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#updateShift" @click="getUpdateShiftData(index)">編輯</button> 
                                        <button class="btn btn-primary" @click="deleteShiftData(d.shift_table_id)">刪除</button> 
                                        <button  class="btn btn-primary" v-popover:top="'早上: ' + d.on_1st + '~' + d.off_1st + '<br>下午:' + d.on_2nd + '~' + d.off_2nd + '<br>晚上: ' + d.on_3rd + '~' + d.off_3rd + '<br>'">時段</button>
                                    </td>
                                </tr>
                                <tr v-show="data == null || data.length < 1">
                                    <td colspan="12" style="text-align: center;">無排班資料</td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!-- ADD SHIFT Modal -->
        <div class="modal fade" id="addShift" tabindex="-1" role="dialog" aria-labelledby="addShiftLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addShiftLabel">新增排班</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="date">上班日期</label>
                            <input type="date"  class="form-control" id="date">
                        </div>
                        <div class="form-group">
                            <label for="employee_id">員工</label>
                            <select  id="employee_id" class="form-control">
                                <option v-for="d2 in employee" :value="d2.employee_id">{{d2.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="shift_id">班別</label>
                            <select  id="shift_id" class="form-control">
                                <option v-for="d3 in shift" :value="d3.shift_id">{{d3.shift_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" @click="addShiftData()">送出</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- UPDATE SHIFT Modal -->
        <div class="modal fade" id="updateShift" tabindex="-1" role="dialog" aria-labelledby="updateShiftLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateShiftLabel">編輯排班</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="update_date">上班日期</label>
                            <input type="date"  class="form-control" id="update_date">
                        </div>
                        <div class="form-group">
                            <label for="update_employee_id">員工</label>
                            <select  id="update_employee_id" class="form-control">
                                <option v-for="d2 in employee" :value="d2.employee_id">{{d2.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="update_shift_id">班別</label>
                            <select  id="update_shift_id" class="form-control">
                                <option v-for="d3 in shift" :value="d3.shift_id">{{d3.shift_name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="hidden" id="update_shift_table_id">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" @click="updateShiftData()">更新</button>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <script src="../assets/js/loading.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
    <script src="../assets/js/q.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
            $("body").popover({
                selector: "[data-toggle='popover']",
                container: "body",
                html: true
            });
        });

        new Vue({
            el: "#app",
            data: {
                data: [],
                employee: [],
                shift: []
            },
            created() {
                get('/api_v1.1/clinic/shift').then(res1 => {
                    get('/api_v1.1/clinic/employee').then(res2 => {
                        get('/api_v1.1/clinic/shift/setting').then(res3 => {
                            this.data = res1.data
                            this.employee = res2.data
                            this.shift = res3.data
                        })
                    })
                })
            },
            mounted() {
                const fullDate = new Date();
                const yyyy = fullDate.getFullYear();
                const MM = (fullDate.getMonth() + 1) >= 10 ? (fullDate.getMonth() + 1) : ("0" + (fullDate.getMonth() + 1));
                const today = yyyy + "-" + MM;
                $('#month').val(today)
            },
            methods: {
                logout() {
                    get('/api_v1.1/logout').then(res => {
                        if (res.code === 200) {
                            alert('success')
                            location.href = './index.html'
                            return
                        }
                        else {
                            alert(res.message)
                        }
                    })
                },
                getShift() {
                    get('/api_v1.1/clinic/shift?month='+$('#month').val()).then(res => {
                        this.data = res.data
                    })
                },
                addShiftData() {
                    const data = {
                        'shift_id': $('#shift_id').val(),
                        'date': $('#date').val(),
                        'employee_id': $('#employee_id').val()
                    }
                    post('/api_v1.1/clinic/shift/add', data).then(res => {
                        if (res.code === 200) {
                            alert(res.message)
                            window.location.reload('./shift_setting.html')
                            return
                        }
                        else {
                            alert(res.message)
                            console.log(res.message)
                        }
                    })
                },
                getUpdateShiftData(index) {
                    $('#update_shift_id').val(this.data[index].shift_id)
                    $('#update_date').val(this.data[index].date)
                    $('#update_employee_id').val(this.data[index].employee_id)
                    $('#update_shift_table_id').val(this.data[index].shift_table_id)
                },
                updateShiftData() {
                    const data = {
                        'shift_id': $('#update_shift_id').val(),
                        'date': $('#update_date').val(),
                        'employee_id': $('#update_employee_id').val(),
                        'shift_table_id': $('#update_shift_table_id').val()
                    }
                    post('/api_v1.1/clinic/shift/update', data).then(res => {
                        if (res.code === 200) {
                            alert(res.message)
                            window.location.reload('./shift_setting.html')
                            return
                        }
                        else {
                            alert(res.message)
                            console.log(res.message)
                        }
                    })
                },
                deleteShiftData(shift_table_id) {
                    if(confirm('是否要刪除?')) {
                        const data = {
                            'shift_table_id': shift_table_id
                        }
                        post('/api_v1.1/clinic/shift/delete', data).then(res => {
                            if (res.code === 200) {
                                alert(res.message)
                                window.location.reload('./shift_setting.html')
                                return
                            }
                            else {
                                alert(res.message)
                                console.log(res.message)
                            }
                        })
                    }
                },
                Time(index) {
                    let str = ''
                    if(this.data.on_1st != null) {
                        str += '早上: '+ this.data.on_1st + ' ~ ' + this.data.off_1st + '<br>'
                    }
                    if(this.data.on_2nd != null) {
                        str += '下午: '+ this.data.on_2nd + ' ~ ' + this.data.off_2nd + '<br>'
                    }
                    if(this.data.on_3rd != null) {
                        str += '晚上: '+ this.data.on_3rd + ' ~ ' + this.data.off_3rd + '<br>'
                    }
                    return str
                }
            },
            computed: {

            }
        })
        Vue.directive('popover', function(el, binding){
            $(el).popover({
                    content: binding.value,
                    placement: binding.arg,
                    html: true
                })
        })
    </script>
</body>
</html>