<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>打卡明細</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/loading.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="loading-wrapper">
        <svg class="loading"><rect></rect></svg>
    </div>
    <div id='app'>
        <div class="wrapper"  >
            <!-- Sidebar -->
            <nav id="sidebar">
                <ul class="list-unstyled components">
                    <p>樂薪考勤系統</p>
                    <li><a href="./assistant.html">診所管理</a></li>
                    <li><a href="./employee.html">員工資料</a></li>
                    <li><a href="./closed_date.html">休診設定</a></li>
                    <li><a href="./shift_setting.html">班別設定</a></li>
                    <li><a href="./salary_attendance.html">薪資&考勤設定</a></li>
                    <li><a href="./salary_item.html">薪項名稱設定</a></li>
                    <li><a href="#">基本薪資</a></li>
                    <li><a href="./shift.html">排班表</a></li>
                    <li  class="active"><a href="./shift_record.html">打卡明細</a></li>
                    <li><a href="#">出勤明細</a></li>
                    <li><a href="#">出勤統計表</a></li>
                    <li><a href="#">每月薪資明細表</a></li>
                </ul>
            </nav>

            <!-- Page Content -->
            <div id="content">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="navbar-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#" @click="logout()">登出</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div>
                    <div class="input-group mb-3">
                        <input type="date" class="form-control" id="startDate">
                        <input type="date" class="form-control" id="endDate">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" @click="getShiftRecord()" >確認</button>
                        </div>
                    </div>
                    <!-- <button class="btn btn-primary" data-toggle="modal" data-target="#addShift">新增排班</button> -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">日期</th>
                                <th scope="col">員工名稱</th>
                                <!-- <th scope="col">時段</th> -->
                            </tr>
                        </thead>
                        <tbody>
                                <tr v-for="(d, index) in data">
                                    <th scope="row">{{index + 1}}</th>
                                    <td><p v-for="t in d.datetime">{{t}}</p></td>
                                    <td>{{d.name}}</td>
                                    
                                </tr>
                                <tr v-show="data == null || data.length < 1">
                                    <td colspan="12" style="text-align: center;">無打卡資料</td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>



    <script src="../assets/js/loading.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
    <script src="../assets/js/q.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });

        });

        new Vue({
            el: "#app",
            data: {
                data: [],
            },
            created() {
                get('/api_v1.1/clinic/shift/record').then(res => {
                    this.data = res.data
                })
            },
            mounted() {
                var date = new Date(), y = date.getFullYear(), m = (date.getMonth() + 1) >= 10 ? (date.getMonth() + 1) : ("0" + (date.getMonth() + 1));
                var lastDay = new Date(y, date.getMonth()+1, 0);
                var s = y+'-'+m+'-01'
                var e = y+'-'+m+'-'+lastDay.getDate()
                $('#startDate').val(s)
                $('#endDate').val(e)
            },
            methods: {
                logout() {
                    get('/api_v1.1/logout').then(res => {
                        if (res.status === 200) {
                            alert('success')
                            location.href = './index.html'
                            return
                        }
                        else {
                            alert(res.message)
                        }
                    })
                },
                getShiftRecord() {
                    get('/api_v1.1/clinic/shift/record?start='+$('#startDate').val()+'&end='+$('#endDate').val()).then(res => {
                        this.data = res.data
                    })
                }
            }
        })
    </script>
</body>
</html>