<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>打卡明細</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/loading.css">
    <link rel="stylesheet" href="../assets/css/google.font.css">
<link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="loading-wrapper">
        <svg class="loading"><rect></rect></svg>
    </div>
    <div id='app'>
        <div class="wrapper"  >
            <!-- Sidebar -->
            <nav id="sidebar">
                <ul class="list-unstyled components">
                    <p>樂薪考勤系統</p>
                    <li><a href="./assistant.html">診所管理</a></li>
                    <li><a href="./employee.html">員工資料</a></li>
                    <li><a href="./closed_date.html">休診設定</a></li>
                    <li><a href="./position.html">崗位設定</a></li>
                    <li><a href="./shift_setting.html">班別設定</a></li>
                    <li v-show="user.right > 2"><a href="./salary_item.html">薪項名稱設定</a></li>
                    <li v-show="user.right > 2"><a href="./basic_salary.html">基本薪資設定</a></li></a></li>
                    <li><a href="./new_shift.html">新排班表</a></li>
                    <li  class="active"><a href="./shift_record.html">打卡明細</a></li>
                    <li><a href="./attendance_overtime.html">加班明細</a></li>
                    <li><a href="./attendance_record.html">出勤明細</a></li>
                    <li><a href="./attendance_statistic.html">出勤統計表</a></li>
                    <li v-show="user.right > 2"><a href="./salary_calculation.html">每月薪資明細表</a></li>
                </ul>
            </nav>

            <!-- Page Content -->
            <div id="content">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="navbar-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#" @click="logout()">登出</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div>
                    
                    <div class="col-12 col-lg-6">
                        <div class="input-group mb-3">
                            <input type="date" class="form-control" id="startDate">
                            <input type="date" class="form-control" id="endDate">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" @click="getShiftRecord()" >確認</button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr v-if="date.length===0"><th style="text-align: center;">日期範圍內無打卡資料</th></tr>
                            <tr v-else>
                                <th></th>
                                <th v-for="(d, index) in date">{{d.date.slice(-2)}}({{d.day}})</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(d,index) in list">
                                <td>
                                    <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#showThisEmployee"  @click="showThisEmployeeData(d.employee_id)">{{d.name}}</button>
                                </td>
                                <td v-for="(d2,index2) in d.record">
                                    <p v-for="(d3,index3) in d2.data">{{d3.datetime.slice(11,16)}}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    
                    
                    
                </div>
                
            </div>
        </div>
        <div class="modal fade" id="showThisEmployee" tabindex="-1" role="dialog" aria-labelledby="showThisEmployeeLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="showThisEmployeeLabel">員工打卡紀錄</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">日期</th>
                                    <th scope="col">員工名稱</th>
                                    <th scope="col">圖片路徑</th>
                                    <th scope="col">打卡時段</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr v-for="(d, index) in employeeData">
                                        <th scope="row">{{index + 1}}</th>
                                        <td>{{d.datetime}}</td>
                                        <td>{{d.name}}</td>
                                        <td>
                                            <div>
                                                <img width="100" height="75"  :src="'/api_v1.1/clinic/shift/record/img/'+d.employee_id+'/'+d.datetime.substr(0,10)+'/'+d.datetime.substr(11,19)" alt=""><br>
                                            </div>
                                        </td>
                                        <td>{{getType(d.type)}}</td>
                                    </tr>
                                    <tr v-show="data == null || data.length < 1">
                                        <td colspan="12" style="text-align: center;">無打卡資料</td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>



    </div>



    <script src="../assets/js/loading.js"></script>
    <script src="../assets/js/jquery-3.4.1.min.js" ></script>
    <script src="../assets/js/q.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/vue.js"></script>
    <script src="../assets/js/moment.js"></script>
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });

        });

        new Vue({
            el: "#app",
            data: {
                data: [{
                        clinic_id: "",
                        datetime: "",
                        employee_id: "",
                        name: "",
                        type: ""
                }],
                date:[],
                employee: [],
                type: {
                    "on_1st":  "早上上班",
                    "off_1st": "早上下班",
                    "on_2nd": "下午上班",
                    "off_2nd": "下午下班",
                    "on_3rd": "晚上上班",
                    "off_3rd": "晚上下班"
                },
                day_list: ['日', '一', '二', '三', '四', '五', '六'],
                list: [],
                employeeData: [],
                times:0,
                user: {
                    user_id: 0,
                    account_number: '',
                    right: 0,
                    clinic_id: 0
                },
            },
            created() {
                get('/api_v1.1/info?token='+window.sessionStorage.getItem('token')).then(res => {
                    if(res.code == 403) {
                        window.sessionStorage.removeItem('token')
                        location.href = './index.html'
                    } else {
                        this.user = res.data
                    }
                })
                get('/api_v1.1/clinic/shift/record').then(res => {
                    if(res.code == 403) {
                        location.href = './index.html'
                    } else {
                        let tmp = res.data[0]
                        this.data = tmp.sort((a, b) => new Date(a.datetime) - new Date(b.datetime))
                        this.date = []
                        res.data[1].forEach(item => {
                            this.date.push({date: item[0], day: this.checkDay(item[0]), data: []})
                        })
                        //外層是object，轉成array
                        this.employee = Object.values(res.data[2])
                        this.showAllRecord()
                    }
                })
            },
            mounted() {
                let month = new Date().Format('yyyy-MM')
                //月初
                $('#startDate').val(new Date(month).Format('yyyy-MM-01'))
                //月底
                $('#endDate').val(new Date(month.slice(0,4), month.slice(-2), 0).Format('yyyy-MM-dd'))
            },
            methods: {
                logout() {
                    get('/api_v1.1/logout').then(res => {
                        if (res.code === 200) {
                            window.sessionStorage.removeItem('token')
                            alert('success')
                            location.href = './index.html'
                            return
                        }
                        else {
                            alert(res.message)
                        }
                    })
                },
                getShiftRecord() {
                    get('/api_v1.1/clinic/shift/record?start='+$('#startDate').val()+'&end='+$('#endDate').val()).then(res => {
                        let tmp = res.data[0]
                        this.data = tmp.sort((a, b) => new Date(a.datetime) - new Date(b.datetime))
                        this.date = []
                        res.data[1].forEach(item => {
                            this.date.push({date: item[0], day: this.checkDay(item[0]), data: []})
                        })
                        //外層是object，轉成array
                        this.employee = Object.values(res.data[2])
                        this.showAllRecord()
                        this.$nextTick()
                    })
                },
                showAllRecord() {
                    this.list = []
                    const format = {
                        employee_id: 0,
                        name: '',
                        record: []
                    }
                    //建立list
                    this.employee.forEach(item => {
                        let tmp = JSON.parse(JSON.stringify(format))
                        //員工不重複資料
                        tmp.employee_id = item.employee_id
                        tmp.name = item.name

                        //日期不重複資料
                        tmp.record = JSON.parse(JSON.stringify(this.date))

                        //依據data來賦予該list資料
                        let d = this.data.filter(d => d.employee_id == tmp.employee_id)                        
                        d.forEach(item => {
                            for(let item2 of tmp.record) {
                                this.times+=1
                                if (item2.date !== item.datetime.slice(0, 10)) {
                                    continue;
                                } else {
                                    item2.data.push(item)
                                }
                            }
                        })
                        this.list.push(tmp)
                    })
                },
                showThisEmployeeData(employee_id) {
                    this.employeeData = this.data.filter(d => d.employee_id === employee_id)
                },
                getRecord(id) {
                    return this.data.filter(data => data.employee_id == id)
                },
                getType(type) {
                    if(type.length < 8) {
                        //一般tag
                        return this.type[type]
                    } else {
                        //帶o o2的tag
                        return this.type[type.slice(0,7)]
                    }
                    
                },
                checkDay(date) {
                    //判斷星期幾
                    return this.day_list[new Date(date).getDay()]
                }
            }
        })
    </script>
</body>
</html>