<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>診所管理者登入</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/loading.css">
</head>
<body>
    <div class="loading-wrapper">
        <svg class="loading"><rect></rect></svg>
    </div>
    <div class="container" id="app">
        <div class="rows justify-content-center">
            <button class="btn btn-dark" @click="logout()">登出</button>
            <button id="btnAddClinic" class="btn btn-primary"data-toggle="modal" data-target="#addClinic">新增診所</button>
            <div id="content"  class="accordion">
                <div class="card" v-for="d in data">
                    <div class="card-header" :id="'heading'+d.clinic_id">
                        <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" :data-target="'#collapse'+d.clinic_id" aria-expanded="true" aria-controls="collapse">
                            {{ d.clinic_name }} | {{ d.clinic_manager }} | {{ d.clinic_address }} | {{ d.clinic_phone }}<button :id="'edit'+d.clinic_id" class="btn btn-info" data-toggle="modal" data-target="#updateClinic" @click="getClinicData(d.clinic_name, d.clinic_manager, d.clinic_address, d.clinic_phone, d.clinic_id)">編輯</button><button :id="'delete'+d.clinic_id" class="btn btn-danger" @click="deleteClinicData(d.clinic_id)">刪除</button>
                        </button>
                        </h2>
                    </div>
            
                    <div :id="'collapse'+d.clinic_id" class="collapse show" :aria-labelledby="'heading'+d.clinic_id" :data-parent="'#heading'+d.clinic_id">
                        <div class="card-body">
                            <div v-if="checkClinicId(d.clinic_id)">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#addBoss" @click="getId(d.clinic_id)">新增老闆</button>
                            </div>
                            <table v-else>
                                <thead>
                                    <th>帳號</th>
                                    <th>操作</th>
                                </thead>
                                <tbody>
                                    <tr v-for="de in detail" v-show="d.clinic_id === de.clinic_id">
                                        <td>{{ de.account_number }}</td>
                                        <td><button :id="'edit'+de.user_id" class="btn btn-info" data-toggle="modal" data-target="#updateBoss" @click="getUpdateData(de.account_number, de.clinic_id, de.user_id)">編輯</button></td>
                                        <td><button :id="'delete'+de.user_id" class="btn btn-danger" @click="deleteBossData(de.clinic_id, de.user_id)">刪除</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ADD Modal -->
        <div class="modal fade" id="addClinic" tabindex="-1" role="dialog" aria-labelledby="addClinicLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addClinicLabel">新增診所</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="clinic_name">診所名稱</label>
                            <input type="text" class="form-control" id="clinic_name">
                        </div>
                        <div class="form-group">
                            <label for="clinic_manager">診所管理者</label>
                            <input type="text" id="clinic_manager"class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="clinic_address">診所地址</label>
                            <input type="text" id="clinic_address"class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="clinic_phone">診所電話</label>
                            <input type="text" id="clinic_phone"class="form-control" >
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" @click="addClinicData()">送出</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- UPDATE Modal -->
        <div class="modal fade" id="updateClinic" tabindex="-1" role="dialog" aria-labelledby="updateClinicLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateClinicLabel">新增診所</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="update_clinic_id">
                        <div class="form-group">
                            <label for="clinic_name">診所名稱</label>
                            <input type="text" class="form-control" id="update_clinic_name">
                        </div>
                        <div class="form-group">
                            <label for="clinic_manager">診所管理者</label>
                            <input type="text" id="update_clinic_manager"class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="clinic_address">診所地址</label>
                            <input type="text" id="update_clinic_address"class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="clinic_phone">診所電話</label>
                            <input type="text" id="update_clinic_phone"class="form-control" >
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" @click="updateClinicData()">送出</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ADD BOSS Modal-->
        <div class="modal fade" id="addBoss" tabindex="-1" role="dialog" aria-labelledby="addBossLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addBossLabel">新增老闆</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="boss_clinic_id">
                        <div class="form-group">
                            <label for="account_number">帳號</label>
                            <input type="text" class="form-control" id="account_number">
                        </div>
                        <div class="form-group">
                            <label for="password">密碼</label>
                            <input type="password" id="password"class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="passconf">密碼確認</label>
                            <input type="password" id="passconf"class="form-control" >
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" @click="addBossData()">送出</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- UPDATE BOSS Modal -->
        <div class="modal fade" id="updateBoss" tabindex="-1" role="dialog" aria-labelledby="updateBossLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateBossLabel">編輯老闆</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="update_boss_clinic_id">
                        <input type="hidden" id="update_user_id">
                        <div class="form-group">
                            <label for="update_account_number">帳號</label>
                            <input type="text" class="form-control" id="update_account_number">
                        </div>
                        <div class="form-group">
                            <label for="update_password">密碼</label>
                            <input type="password" id="update_password"class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="update_passconf">密碼確認</label>
                            <input type="password" id="update_passconf"class="form-control" >
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" @click="updateBossData()">送出</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../assets/js/loading.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
    <script src="../assets/js/q.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script>
        //一進來就執行，判斷登入狀態
        get('/api_v1.1/login/check').then(res => {
            if (res.status !== 200) {
                location.href = './index.html'
            }
        })
        new Vue({
            el: "#app",
            data: {
                data: {},
                detail: {}
            },
            created() {
                get('/api_v1.1/admin/clinic').then(res1 => {
                    get('/api_v1.1/admin/clinic/boss').then(res2 => {
                        this.data = res1.data
                        this.detail = res2.data
                    })
                })
            },
            methods: {
                logout() {
                    get('/api_v1.1/logout').then(res => {
                        if (res.status === 200) {
                            alert('success')
                            location.href = './index.html'
                            return
                        }
                        else {
                            alert(res.message)
                        }
                    })
                },
                checkClinicId(clinic_id) {
                    let ans = this.detail.find(function(item, index, array) {
                        return item.clinic_id === clinic_id
                    })
                    if(ans === undefined) {
                        return true
                    }
                    return false
                },
                addClinicData() {
                    const data = {
                        'clinic_name': $('#clinic_name').val(),
                        'clinic_manager': $('#clinic_manager').val(),
                        'clinic_address': $('#clinic_address').val(),
                        'clinic_phone': $('#clinic_phone').val()
                    }
                    post('/api_v1.1/admin/clinic/add', data).then(res => {
                        if (res.status == 201) {
                            alert(res.message)
                            window.location.reload('./clinic.html')
                            return
                        } else {
                            alert(res.message)
                        }
                    })
                },
                getClinicData(clinic_name, clinic_manager, clinic_address, clinic_phone, clinic_id) {
                    $('#update_clinic_id').val(clinic_id)
                    $('#update_clinic_name').val(clinic_name)
                    $('#update_clinic_manager').val(clinic_manager)
                    $('#update_clinic_address').val(clinic_address)
                    $('#update_clinic_phone').val(clinic_phone)
                },
                updateClinicData() {
                    const data = {
                        'clinic_id': $('#update_clinic_id').val(),
                        'clinic_name': $('#update_clinic_name').val(),
                        'clinic_manager': $('#update_clinic_manager').val(),
                        'clinic_address': $('#update_clinic_address').val(),
                        'clinic_phone': $('#update_clinic_phone').val()
                    }
                    post('/api_v1.1/admin/clinic/update', data).then(res => {
                        if (res.status == 201) {
                            alert(res.message)
                            window.location.reload('./clinic.html')
                            return
                        } else {
                            alert(res.message)
                        }
                    })
                },
                deleteClinicData(id) {
                    if(confirm('是否要刪除?')) {
                        const data = {
                            'clinic_id': id
                        }
                        post('/api_v1.1/admin/clinic/delete', data).then(res => {
                            if (res.status == 201) {
                                alert(res.message)
                                window.location.reload('./clinic.html')
                                return
                            } else {
                                alert(res.message)
                            }
                        })
                    }
                },
                getId(id) {
                    $('#boss_clinic_id').val(id)
                },
                addBossData() {
                    const data = {
                        'account_number': $('#account_number').val(),
                        'password': $('#password').val(),
                        'passconf': $('#passconf').val(),
                        'clinic_id': $('#boss_clinic_id').val()
                    }
                    post('/api_v1.1/admin/clinic/boss/add', data).then(res => {
                        if (res.status == 201) {
                            alert(res.message)
                            window.location.reload('./clinic.html')
                            return
                        } else {
                            alert(res.message)
                        }
                    })
                },
                getUpdateData(account_number, clinic_id, user_id) {
                    $('#update_boss_clinic_id').val(clinic_id)
                    $('#update_account_number').val(account_number)
                    $('#update_user_id').val(user_id)
                },
                updateBossData() {
                    const data = {
                        'account_number': $('#update_account_number').val(),
                        'password': $('#update_password').val(),
                        'passconf': $('#update_passconf').val(),
                        'clinic_id': $('#update_boss_clinic_id').val(),
                        'user_id': $('#update_user_id').val(),
                    }
                    post('/api_v1.1/admin/clinic/boss/update', data).then(res => {
                        if (res.status == 201) {
                            alert(res.message)
                            window.location.reload('./clinic.html')
                            return
                        } else {
                            alert(res.message)
                        }
                    })
                },
                deleteBossData(clinic_id, user_id) {
                    if(confirm('是否要刪除?')) {
                        const data = {
                            'clinic_id': clinic_id,
                            'user_id': user_id,
                        }
                        post('/api_v1.1/admin/clinic/boss/delete', data).then(res => {
                            if (res.status == 201) {
                                alert(res.message)
                                window.location.reload('./clinic.html')
                                return
                            } else {
                                alert(res.message)
                            }
                        })
                    }
                }
            }
        })
    </script>
</body>
</html>